{% extends "about/about_base.html" %}
{% load staticfiles %}

{% block title %}联系我们{% endblock %}
{% block cur_position %}
    <div>
        <b>当前位置：</b>
        <a href="/" style="text-decoration: none">首页</a>&nbsp;&gt;&nbsp;<a href="/about/lab_profile"
                                                                           style="text-decoration: none">关于我们</a>&nbsp;&gt;&nbsp;联系我们
    </div>
{% endblock %}

{% block keyan_content %}
    <div id="wsite-content" class="wsite-elements wsite-not-footer">

        <div style="padding:0 20px;height:50px;line-height:50px;font-size:28px;color:#c50000;">联系我们</div>
        <div style="padding:20px;padding-top:0;">
        </div>
        <div class="clear" style="border-bottom:1px solid #cccccc;"></div>
        <div class="clear" style="height:20px;"></div>

        <div class="ui-project">
            <p>江苏省南京市玄武区孝陵卫街道200号南京理工大学理学院</p>

            <p>邮政编码：210014</p>

            <p>联系电话：027-6875-5687</p>

            <p>电子邮件：yunianshen@njust.edu.cn</p>

            <p>办公地址：南京理工大学理学院 东101</p>


        </div>
    </div>
{% endblock %}
{% block keyan_scripts %}

{% endblock %}

