{% extends "about/about_base.html" %}
{% load staticfiles %}

{% block title %}联系我们{% endblock %}
{% block cur_position %}
    <div>
        <b>当前位置：</b>
        <a href="/" style="text-decoration: none">首页</a>&nbsp;&gt;&nbsp;<a href="/about/us"
                                                                           style="text-decoration: none">关于我们</a>&nbsp;&gt;&nbsp;联系我们
    </div>
{% endblock %}

{% block keyan_content %}
    <div id="wsite-content" class="wsite-elements wsite-not-footer">

        <div class="ui-se-title">联系我们</div>

        <div class="clear" style="border-bottom:1px solid #cccccc;"></div>
        <div class="clear" style="height:20px;"></div>

        <div class="ui-project">

            <p>邮政编码：210094</p>

            <p>联系电话：025-84315590</p>

            <p>电子邮件：yunianshen@njust.edu.cn</p>

            <p>办公地址：江苏省南京市玄武区孝陵卫街道200号，南京理工大学理学院力学与工程系</p>


        </div>
    </div>
{% endblock %}
{% block keyan_scripts %}

{% endblock %}

