{% extends "about/about_base.html" %}
{% load staticfiles %}

{% block title %}实验室概况{% endblock %}
{% block cur_position %}
    <div>
        <b>当前位置：</b>
        <a href="/" style="text-decoration: none">首页</a>&nbsp;&gt;&nbsp;<a href="/about/us"
                                                                           style="text-decoration: none">关于我们</a>&nbsp;&gt;&nbsp;实验室概况
    </div>
{% endblock %}

{% block keyan_content %}
    <div id="wsite-content" class="wsite-elements wsite-not-footer">

        <div class="ui-se-title">实验室简介</div>

        <div class="clear" style="border-bottom:1px solid #cccccc;"></div>
        <div class="clear" style="height:20px;"></div>

        <div class="ui-project">
            <p>在国家自然科学基金的资助下，机器人学与智能机器实验室（Robotics and Intelligent Machine Lab.，简称RIML）成立于2017年9月，负责人为沈煜年副教授。实验室致力于未来人工智能领域中的智能机器实体的研究，侧重于各种尺度智能柔（软）体机器人本体的运动学和动力学的设计、仿真与实验。特别注重智能机器在实际运行过程中出现的摩擦接触、碰撞冲击以及材料的纳米磨损等方面的研究。</p>
            <p>实验室将视野始终面向国际，积极在国际范围内定位、提升和发展自己。目前已经于英国剑桥大学和美国加州大学伯克利分校的相关实验室建立了良好的合作关系，并有合作研究的成果发表和面世。实验室始终秉持着科学研究成果一定要能被用于推动世界科技进步，改善人类生活水平的精神，一直与工程界保持良好合作关系。目前已经为多个研究所和企业完成多项工程项目，涉及结构和机构的强度、刚度、疲劳、蠕变和动力学行为等等。 </p>


        </div>
    </div>
{% endblock %}
{% block keyan_scripts %}

{% endblock %}

