{% extends "member/member_base.html" %}
{% load staticfiles %}


{% block title %}实验室成员{% endblock %}
{% block cur_position %}
    <div>
        <b>当前位置：</b>
        <a href="/" style="text-decoration: none">首页</a>&nbsp;>&nbsp;<a href="member" style="text-decoration: none">实验室成员</a>
    </div>
{% endblock %}

{% block mem_content %}
    <div style="padding:0 20px;height:70px;line-height:70px;font-size:24px;color:#c50000;">教师</div>
    <ul class="chengyuan">
        <li>
            <div class="pic"><a href="/member/teacher/mrshen"><img src="{% static 'img/teacher/shenyinian.jpg' %}"
                                                   height="212"></a></div>
            <div class="title" style="border-bottom-width:0;">沈煜年 (PI)</div>
        </li>
        <li>
            <div class="pic"><a href="/member/teacher/chentao"><img src="{% static 'img/teacher/chentao.png' %}" width="162" height="212"></a>
            </div>
            <div class="title" style="border-bottom-width:0;">陈涛</div>
        </li>
        <li>
            <div class="pic"><a href="/member/teacher/xieyushu"><img src="{% static 'img/teacher/xieyushu.jpg' %}" width="162" height="212"></a>
            </div>
            <div class="title" style="border-bottom-width:0;">谢玉树</div>
        </li>
        <li>
            <div class="pic"><a href="/member/teacher/panjianzhi"><img src="{% static 'img/teacher/panjianzhi.jpg' %}" width="162"
                                             height="212"></a></div>
            <div class="title" style="border-bottom-width:0;">潘健智</div>
        </li>
        <li>
            <div class="pic"><a href="/member/teacher/zhengjian"><img src="{% static 'img/no-img.jpg' %}" width="162" height="212"></a></div>
            <div class="title" style="border-bottom-width:0;">郑健</div>
        </li>
    </ul>
    <div class="clear" style="height:10px;"></div>
    <div class="clear" style="border-bottom:1px solid #cccccc;"></div>
    <div style="padding:0 20px;height:70px;line-height:70px;font-size:24px;color:#c50000;">访问学者</div>
    <p style="text-align: center; color: rgb(98, 98, 98);font-size: medium;">正在完善中</p>
    <div class="clear" style="height:10px;"></div>
    <div class="clear" style="border-bottom:1px solid #cccccc;"></div>
    <div style="padding:0 20px;height:70px;line-height:70px;font-size:24px;color:#c50000;">博士后</div>
    <p style="text-align: center; color: rgb(98, 98, 98);font-size: medium;">正在完善中</p>
    <div class="clear" style="height:10px;"></div>
    <div class="clear" style="border-bottom:1px solid #cccccc;"></div>
    <div style="padding:0 20px;height:70px;line-height:70px;font-size:24px;color:#c50000;">博士研究生</div>
    <p style="text-align: center; color: rgb(98, 98, 98);font-size: medium;">正在完善中</p>
    <div class="clear" style="height:10px;"></div>
    <div class="clear" style="border-bottom:1px solid #cccccc;"></div>
    <div style="padding:0 20px;height:70px;line-height:70px;font-size:24px;color:#c50000;">硕士研究生</div>
    <ul class="chengyuan">
        <li>
            <div class="pic"><a href="/member/postgraduate/abdulazeez"><img src="{% static 'img/postgraduate/abdulazeez-min.jpg' %}"
                                                       width="162"
                                                       height="212"></a></div>
            <div class="title" style="border-bottom-width:0;">abdulazeez</div>
        </li>
        <li>
            <div class="pic"><a href="/member/postgraduate/zhangsai"><img src="{% static 'img/postgraduate/zhangsai-min.jpg' %}"
                                                     height="212"></a></div>
            <div class="title" style="border-bottom-width:0;">张赛</div>
        </li>
        <li>
            <div class="pic"><a href="/member/postgraduate/zhoujincheng"><img src="{% static 'img/postgraduate/zhoujincheng-min.jpg' %}"
                                                         width="162" height="212"></a></div>
            <div class="title" style="border-bottom-width:0;">周锦程</div>
        </li>
        <li>
            <div class="pic"><a href="/member/postgraduate/zhouyi"><img src="{% static 'img/postgraduate/zhouyi-min.jpg' %}" width="162"
                                                   height="212"></a></div>
            <div class="title" style="border-bottom-width:0;">周怡</div>
        </li>
        <li>
            <div class="pic"><a href="/member/postgraduate/chenkang"><img src="{% static 'img/postgraduate/chenkang-min.jpg' %}" width="162"
                                                     height="212"></a></div>
            <div class="title" style="border-bottom-width:0;">陈康</div>
        </li>
        <li>
            <div class="pic"><a href="/member/postgraduate/liyong"><img src="{% static 'img/postgraduate/liyong-min.jpg' %}" width="162"
                                                   height="212"></a></div>
            <div class="title" style="border-bottom-width:0;">李庸</div>
        </li>
        <li>
            <div class="pic"><a href="/member/postgraduate/jinchunlei"><img src="{% static 'img/postgraduate/jinchunlei-min.jpg' %}"
                                                       width="162"
                                                       height="212"></a></div>
            <div class="title" style="border-bottom-width:0;">金春雷</div>
        </li>

        <li>
            <div class="pic"><a href="/member/postgraduate/zhaoyuhang"><img src="{% static 'img/postgraduate/zhaoyuhang.jpg' %}" width="162"
                                                       height="212"></a></div>
            <div class="title" style="border-bottom-width:0;">赵宇航</div>
        </li>
        <li>
            <div class="pic"><a href="/member/postgraduate/zhanghao"><img src="{% static 'img/postgraduate/zhanghao.jpg' %}" width="162"
                                                     height="212"></a></div>
            <div class="title" style="border-bottom-width:0;">张灏</div>
        </li>
        <li>
            <div class="pic"><a href="/member/postgraduate/dingwei"><img src="{% static 'img/postgraduate/dingwei.jpg' %}" width="162"
                                                    height="212"></a></div>
            <div class="title" style="border-bottom-width:0;">丁伟</div>
        </li>
        <li>
            <div class="pic"><a href="/member/postgraduate/wangwei"><img src="{% static 'img/postgraduate/wangwei.jpg' %}" width="162"
                                                    height="212"></a></div>
            <div class="title" style="border-bottom-width:0;">王伟</div>
        </li>
        <li>
            <div class="pic"><a href="/member/postgraduate/yangjiongshan"><img src="{% static 'img/postgraduate/yangjiongchan.jpg' %}"
                                                          height="212"></a></div>
            <div class="title" style="border-bottom-width:0;">杨炯灿</div>
        </li>
        <li>
            <div class="pic"><a href="/member/postgraduate/kuangye"><img src="{% static 'img/postgraduate/kuangye.jpg' %}"
                                                    height="212"></a></div>
            <div class="title" style="border-bottom-width:0;">匡也</div>
        </li>
        <li>
            <div class="pic"><a href="/member/postgraduate/sunhong"><img src="{% static 'img/postgraduate/sunhong-min.jpg' %}"
                                                    height="212"></a></div>
            <div class="title" style="border-bottom-width:0;">孙泓</div>
        </li>
    <li>
            <div class="pic"><a href="/member/postgraduate/qinzongxi"><img src="{% static 'img/no-img.jpg ' %}"

                                                       height="212"></a></div>
            <div class="title" style="border-bottom-width:0;">覃宗喜</div>
        </li>


    </ul>
    <div class="clear" style="height:10px;"></div>
    <div class="clear" style="border-bottom:1px solid #cccccc;"></div>
    <div style="padding:0 20px;height:70px;line-height:70px;font-size:24px;color:#c50000;">本科生</div>
    <p style="text-align: center; color: rgb(98, 98, 98);font-size: medium;">正在完善中</p>



{% endblock %}




