{% extends "xueshuhuodong/activity_base.html" %}
{% load staticfiles %}

{% block title %}学术活动{% endblock %}
{% block act_styles %}
<style>
.ui-project{
    padding-left: 0;
}
.pic{
    height: 300px;
    border: 0;
}
    .pic img {
            {#width: 420px;#}
        height: 100%;
        }
</style>
{% endblock %}
{% block cur_position %}
    <div>
        <b>当前位置：</b>
        <a href="/" style="text-decoration: none">首页</a>&nbsp;&gt;&nbsp;学术活动
    </div>
{% endblock %}

{% block act_content %}
    <div id="wsite-content" class="wsite-elements wsite-not-footer">

        <div style="padding:0 20px;height:50px;line-height:50px;font-size:28px;color:#c50000;">出访活动</div>
        <div style="padding:20px;padding-top:0;">
        </div>
        <div class="clear" style="border-bottom:1px solid #cccccc;"></div>


        <div class="ui-project ui-paper">
            <ul>
                <li class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <div class="pic"><a href="/chufang/20190413""><img src="{% static 'img/activity/20190413-1.jpg' %}"></a></div>
                    <div class="title">
                        <p><a href="/chufang/20190413">参加“第十五届苏港力学及其应用论坛”</a></p>
                    </div>
                </li>
                <li class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <div class="pic"><a href="/chufang/20171116"><img src="{% static 'img/activity/20190512-2.jpg' %}"></a></div>
                    <div class="title">
                        <p><a href="/chufang/20171116">访问中国科员天光所</a></p>
                    </div>
                </li>

            </ul>


        </div>
    </div>
{% endblock %}


