{% extends "keyanfangxiang/keyan_base.html" %}
{% load staticfiles %}

{% block title %}承担项目{% endblock %}
{% block cur_position %}
    <div>
        <b>当前位置：</b>
        <a href="/" style="text-decoration: none">首页</a>&nbsp;&gt;&nbsp;<a href="chengdanxiangmu"
                                                                           style="text-decoration: none">科学研究</a>&nbsp;&gt;&nbsp;承担项目
    </div>
{% endblock %}

{% block keyan_content %}
    <div id="wsite-content" class="wsite-elements wsite-not-footer">

        <div style="padding:0 20px;height:50px;line-height:50px;font-size:28px;color:#c50000;">RIML主要科研项目</div>
        <div style="padding:20px;padding-top:0;">
        </div>
        <div class="clear" style="border-bottom:1px solid #cccccc;"></div>
        <div class="clear" style="height:20px;"></div>

        <div class="ui-project">
            <p>[1] 柔性机构摩擦动态自锁及其波动特性的理论与实验研究，国家自然科学基金面上项目，主持、在研</p>
            <p>[2] 尼龙曳引轮疲劳强度及高温蠕变的研究，产学研课题，主持、在研</p>
            <p>[3] 尼龙传动轮的结构强度和刚度分析与设计，产学研课题，主持、已结题</p>
            <p>[4] 高炉炉顶设备主体结构优化设计，产学研课题，主持、在研</p>
            <p>[5] 导弹飞行器折叠机构设计与开发，国防课题，主持、已结题</p>
            <p>[6] 大型过山车轨道立柱动态响应的软件，国防课题，主持、已结题</p>
            <p>[7] 智能压电结构接触-碰撞瞬态响应及其波动特性研究，国家自然科学基金青年基金项目，主持、已结题</p>
            <p>[8] 压电结构接触响应和波动特性研究，高等学校博士学科点专项科研基金（新教师类），主持、已结题 </p>


        </div>
    </div>
{% endblock %}
{% block keyan_scripts %}

{% endblock %}

