{% extends "keyanfangxiang/keyan_base.html" %}
{% load staticfiles %}

{% block title %}研究进展{% endblock %}
{% block cur_position %}
    <div>
        <b>当前位置：</b>
        <a href="/" style="text-decoration: none">首页</a>&nbsp;&gt;&nbsp;<a href="general"
                                                                           style="text-decoration: none">科学研究</a>&nbsp;&gt;&nbsp;研究进展
    </div>
{% endblock %}

{% block keyan_content %}
    <div id="wsite-content" class="wsite-elements wsite-not-footer">

        <div style="padding:0 20px;height:50px;line-height:50px;font-size:28px;color:#c50000;">研究进展</div>
        <div style="padding:20px;padding-top:0;">
        </div>
        <div class="clear" style="border-bottom:1px solid #cccccc;"></div>
        <div class="clear" style="height:20px;"></div>

        <div class="ui-project">
            <p><a href="{% static 'paper/柔性梁含摩擦斜碰撞的刚体_弹簧_质点混合模型研究_沈煜年.pdf' %}">[1] 柔性梁含摩擦斜碰撞的刚体－弹簧－质点混合模型研究</a></p>
            <p><a href="{% static 'paper/压电周期性结构滤波特性的计算模型研究.pdf' %}">[2] 压电周期性结构滤波特性的计算模型研</a></p>
            <p><a href="{% static 'paper/多芯片双面PCB的热应力分析.pdf' %}">[3] 多芯片双面PCB的热应力分析</a></p>


        </div>
    </div>
{% endblock %}
{% block keyan_scripts %}

{% endblock %}

