{% extends "keyanfangxiang/keyan_base.html" %}
{% load staticfiles %}


{% block title %}仪器设备{% endblock %}
{% block keysn_styles %}

    <link href="http://leifu.whu.edu.cn/css/style.css" rel="stylesheet">
    <style>
        .pic img {
            width: 420px;
        }
        .pic{
            border: 0;
        }
    </style>
{% endblock %}
{% block cur_position %}
    <div>
        <b>当前位置：</b>
        <a href="/" style="text-decoration: none">首页</a>&nbsp;&gt;&nbsp;<a href="chengdanxiangmu"
                                                                           style="text-decoration: none">科学研究</a>&nbsp;&gt;&nbsp;仪器设备
    </div>
{% endblock %}
{% block keyan_content %}
    <div id="wsite-content" class="wsite-elements wsite-not-footer">

        <div style="padding:0 20px;height:50px;line-height:50px;font-size:28px;color:#c50000;">仪器设备</div>
        <div style="padding:20px;padding-top:0;">
        </div>
        <div class="clear" style="border-bottom:1px solid #cccccc;"></div>
        <div class="clear" style="height:20px;"></div>
        <div class="piclictbox">
            <ul class="piclist">
                <li class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <div class="pic"><a href=""><img src="{% static 'img/device/NAC.jpg' %}"></a></div>
                    <div class="title">
                        <a href="../info/1004/1453.htm">高速摄影机 NAC MEMRECAM GX-3 V–190</a>
                    </div>
                </li>
                <li class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <div class="pic"><a href=""><img src="{% static 'img/device/OFV.bmp' %}"></a></div>
                    <div class="title">
                        <a href="../info/1004/1453.htm">多普勒激光测振仪 OFV–5000 +OFV–505</a>
                    </div>
                </li>
                <li class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <div class="pic"><a href=""><img src="{% static 'img/device/gscjy.bmp' %}"></a></div>
                    <div class="title">
                        <a href="../info/1004/1453.htm">高速动态信号采集仪 DH5939</a>
                    </div>
                </li>
                <li class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <div class="pic"><a href=""><img src="{% static 'img/device/jgwy.bmp' %}"></a></div>
                    <div class="title">
                        <a href="../info/1004/1453.htm">激光位移传感器 MICROTRAK II</a>
                    </div>
                </li>
                <li class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <div class="pic"><a href=""><img src="{% static 'img/device/ybfdq.bmp' %}"></a></div>
                    <div class="title">
                        <a href="../info/1004/1453.htm">程控应变放大器 DH3842</a>
                    </div>
                </li>
                <li class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <div class="pic"><a href=""><img src="{% static 'img/device/qfpt.bmp' %}"></a></div>
                    <div class="title">
                        <a href="../info/1004/1453.htm">精密气浮隔震台 JM–2</a>
                    </div>
                </li>
                <li class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <div class="pic"><a href=""><img src="{% static 'img/device/sbq.bmp' %}"></a></div>
                    <div class="title">
                        <a href="../info/1004/1453.htm">DL708E数字示波器 DL708E</a>
                    </div>
                </li>
                <li class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <div class="pic"><a href=""><img src="{% static 'img/device/T610.bmp' %}"></a></div>
                    <div class="title">
                        <a href="../info/1004/1453.htm">服务器 T610</a>
                    </div>
                </li>
            </ul>

        </div>

    </div>

{% endblock %}
{% block keyan_scripts %}

{% endblock %}

