{% extends "mobile/base.html" %}
{% load staticfiles %}
{% block title %}欢迎来到沈煜年课题组-机器人学与智能机器实验室{% endblock %}
{% block styles %}
    <style>
    h5{
        padding-top: 8px;
    padding-bottom: 8px;
    text-indent: 12px;
    }
    .mui-image-cover{
        height: 205px;
        overflow: hidden;
        vertical-align: middle;
    }
    </style>
{% endblock %}

{% block content %}
    <h4 class="mui-lab-title">实验室成员</h4>
    <h5 style="background-color:#efeff4">教师</h5>
    <ul class="mui-table-view mui-grid-view">
        <li class="mui-table-view-cell mui-media mui-col-xs-6">
            <a href="/app/member/teacher/mrshen">
                <div class="mui-image-cover">
                <img class="mui-media-object" src="{% static 'img/teacher/shenyinian.jpg' %}">
                </div>
                <div class="mui-media-body">沈煜年 (PI)</div></a></li>
        <li class="mui-table-view-cell mui-media mui-col-xs-6">
            <a href="/app/member/teacher/chentao">
                <div class="mui-image-cover">
                <img class="mui-media-object" src="{% static 'img/teacher/chentao.png' %}">
                </div>
                <div class="mui-media-body">陈涛</div></a></li>
        <li class="mui-table-view-cell mui-media mui-col-xs-6">
            <a href="/app/member/teacher/xieyushu">
                <div class="mui-image-cover">
                <img class="mui-media-object" src="{% static 'img/teacher/xieyushu.jpg' %}">
                </div>
                <div class="mui-media-body">谢玉树</div></a></li>
        <li class="mui-table-view-cell mui-media mui-col-xs-6">
            <a href="/app/member/teacher/panjianzhi">
                <div class="mui-image-cover">
                <img class="mui-media-object" src="{% static 'img/teacher/panjianzhi.jpg' %}">
                </div>
                <div class="mui-media-body">潘健智</div></a></li>
        <li class="mui-table-view-cell mui-media mui-col-xs-6">
            <a href="/app/member/teacher/zhengjian">
                <div class="mui-image-cover">
                <img class="mui-media-object" src="{% static 'img/no-img.jpg' %}">
                </div>
                <div class="mui-media-body">郑健</div></a></li>
    </ul>
    <div class="clear" style="height:10px;"></div>

    <h5 style="background-color:#efeff4">硕士研究生</h5>
    <ul class="mui-table-view mui-grid-view">
        <li class="mui-table-view-cell mui-media mui-col-xs-6">
            <a href="/app/member/postgraduate/abdulazeez">
                <div class="mui-image-cover">
                <img class="mui-media-object" src="{% static 'img/postgraduate/abdulazeez-min.jpg' %}">
                </div>
                <div class="mui-media-body">abdulazeez</div></a></li>
        <li class="mui-table-view-cell mui-media mui-col-xs-6">
            <a href="/app/member/postgraduate/zhangsai">
                <div class="mui-image-cover">
                <img class="mui-media-object" src="{% static 'img/postgraduate/zhangsai-min.jpg' %}">
                </div>
                <div class="mui-media-body">张赛</div></a></li>
        <li class="mui-table-view-cell mui-media mui-col-xs-6">
            <a href="/app/member/postgraduate/zhoujincheng">
                <div class="mui-image-cover">
                <img class="mui-media-object" src="{% static 'img/postgraduate/zhoujincheng-min.jpg' %}">
                </div>
                <div class="mui-media-body">周锦程</div></a></li>
        <li class="mui-table-view-cell mui-media mui-col-xs-6">
            <a href="/app/member/postgraduate/zhouyi">
                <div class="mui-image-cover">
                <img class="mui-media-object" src="{% static 'img/postgraduate/zhouyi-min.jpg' %}">
                </div>
                <div class="mui-media-body">周怡</div></a></li>
        <li class="mui-table-view-cell mui-media mui-col-xs-6">
            <a href="/app/member/postgraduate/chenkang">
                <div class="mui-image-cover">
                <img class="mui-media-object" src="{% static 'img/postgraduate/chenkang-min.jpg' %}">
                </div>
                <div class="mui-media-body">陈康</div></a></li>
        <li class="mui-table-view-cell mui-media mui-col-xs-6">
            <a href="/app/member/postgraduate/liyong">
                <div class="mui-image-cover">
                <img class="mui-media-object" src="{% static 'img/postgraduate/liyong-min.jpg' %}">
                </div>
                <div class="mui-media-body">李庸</div></a></li>
        <li class="mui-table-view-cell mui-media mui-col-xs-6">
            <a href="/app/member/postgraduate/jinchunlei">
                <div class="mui-image-cover">
                <img class="mui-media-object" src="{% static 'img/postgraduate/jinchunlei-min.jpg' %}">
                </div>
                <div class="mui-media-body">金春雷</div></a></li>

        <li class="mui-table-view-cell mui-media mui-col-xs-6">
            <a href="/app/member/postgraduate/qinzongxi">
                <div class="mui-image-cover">
                <img class="mui-media-object" src="{% static 'img/postgraduate/qinzongxi.jpg' %}">
                </div>
                <div class="mui-media-body">覃宗喜</div></a></li>
        <li class="mui-table-view-cell mui-media mui-col-xs-6">
            <a href="/app/member/postgraduate/zhangxinyi">
                <div class="mui-image-cover">
                <img class="mui-media-object" src="{% static 'img/postgraduate/zhangxinyi.jpg' %}">
                </div>
                <div class="mui-media-body">张新翼</div></a></li>
        <li class="mui-table-view-cell mui-media mui-col-xs-6">
            <a href="/app/member/postgraduate/zhujie">
                <div class="mui-image-cover">
                <img class="mui-media-object" src="{% static 'img/postgraduate/zhujie.jpg' %}">
                </div>
                <div class="mui-media-body">朱杰</div></a></li>
    </ul>
    <h5 style="background-color:#efeff4">已离开硕士研究生</h5>
    <ul class="mui-table-view mui-grid-view">
        <li class="mui-table-view-cell mui-media mui-col-xs-6">
            <a href="/app/member/postgraduate/zhaoyuhang">
                <div class="mui-image-cover">
                <img class="mui-media-object" src="{% static 'img/postgraduate/zhaoyuhang.jpg' %}">
                    </div>
                <div class="mui-media-body">赵宇航（美的集团工作）</div></a></li>
        <li class="mui-table-view-cell mui-media mui-col-xs-6">
            <a href="/app/member/postgraduate/zhanghao">
                <div class="mui-image-cover">
                <img class="mui-media-object" src="{% static 'img/postgraduate/zhanghao.jpg' %}">
                    </div>
                <div class="mui-media-body">张灏（新能源外企500强）</div></a></li>
        <li class="mui-table-view-cell mui-media mui-col-xs-6">
            <a href="/app/member/postgraduate/dingwei">
                <div class="mui-image-cover">
                <img class="mui-media-object" src="{% static 'img/postgraduate/dingwei.jpg' %}">
                </div>
                <div class="mui-media-body">丁伟（西飞电机）</div></a></li>
        <li class="mui-table-view-cell mui-media mui-col-xs-6">
            <a href="/app/member/postgraduate/wangwei">
                <div class="mui-image-cover">
                <img class="mui-media-object" src="{% static 'img/postgraduate/wangwei.jpg' %}">
                </div>
                <div class="mui-media-body">王伟（中电集团）</div></a></li>
        <li class="mui-table-view-cell mui-media mui-col-xs-6">
            <a href="/app/member/postgraduate/yangjiongcan">
                <div class="mui-image-cover">
                <img class="mui-media-object" src="{% static 'img/postgraduate/yangjiongchan.jpg' %}">
                </div>
                <div class="mui-media-body">杨炯灿（高科技外企）</div></a></li>
        <li class="mui-table-view-cell mui-media mui-col-xs-6">
            <a href="/app/member/postgraduate/kuangye">
                <div class="mui-image-cover">
                <img class="mui-media-object" src="{% static 'img/postgraduate/kuangye.jpg' %}">
                </div>
                <div class="mui-media-body">匡也（中科院天文所）</div></a></li>
        <li class="mui-table-view-cell mui-media mui-col-xs-6">
            <a href="/app/member/postgraduate/sunhong">
                <div class="mui-image-cover">
                <img class="mui-media-object" src="{% static 'img/postgraduate/sunhong-min.jpg' %}">
                </div>
                <div class="mui-media-body">孙泓（山东潍柴集团）</div></a></li>
    </ul>
{% endblock %}

{% block scripts %}
    <script>

    </script>
{% endblock %}