{% extends "jiaoxuegongzuo/work_base.html" %}
{% load staticfiles %}

{% block title %}课堂教学{% endblock %}
{% block cur_position %}
    <div>
        <b>当前位置：</b>
        <a href="/" style="text-decoration: none">首页</a>&nbsp;&gt;&nbsp;<a href="/ach/papaer"
                                                                           style="text-decoration: none">教学工作</a>&nbsp;&gt;&nbsp;课堂教学
    </div>
{% endblock %}

{% block work_content %}
    <div id="wsite-content" class="wsite-elements wsite-not-footer">

        <div class="ui-se-title">RIML承担的课堂教学工作</div>

        <div class="clear" style="border-bottom:1px solid #cccccc;"></div>

        <div class="ui-project">
            <p>1. 材料力学（中文） 4学分 面向全校本科生，授课人：沈煜年</p>
            <p>2. 工程力学（中文） 3学分 面向全校本科生，授课人：沈煜年</p>
            <p>3. 力学理论与实践（中文） 3学分 面向全校本科生，授课人：沈煜年</p>
            <p>4. 应力波理论及其应用（中文） 2学分 面向全校研究生，授课人：沈煜年</p>
            <p>5. Elastic Mechanics（英文） 3学分 面向全校留学研究生，授课人：沈煜年</p>
            <p>6. Elasticity Theory（英文） 3学分 面向全校留学研究生，授课人：沈煜年</p>
            <p>7. Mechanics Modelling and Simulation（英文） 3学分 面向全校留学研究生，授课人：沈煜年</p>

        </div>

        <div class="ui-se-title">RIML承担的科研训练工作</div>

        <div class="clear" style="border-bottom:1px solid #cccccc;"></div>

        <div class="ui-project">
            <p>1. 国家级和省级全国百千万本科科研训练，面向全校本科生，指导人：沈煜年</p>

        </div>

        <div style="padding:30px 20px;height:30px;line-height:30px;font-size:20px;color:#c50000;">RIML承担的本科专业班级指导工作</div>


        <div class="clear" style="border-bottom:1px solid #cccccc;"></div>

        <div class="ui-project">
            <p>1. 工程力学专业2015级，指导人：沈煜年，升学率超过80%</p>

        </div>
    </div>
{% endblock %}
{% block keyan_scripts %}

{% endblock %}

