{% extends "jiaoxuegongzuo/work_base.html" %}
{% load staticfiles %}

{% block title %}教学工作{% endblock %}
{% block cur_position %}
    <div>
        <b>当前位置：</b>
        <a href="/" style="text-decoration: none">首页</a>&nbsp;&gt;&nbsp;教学工作
    </div>
{% endblock %}

{% block work_content %}
    <div id="wsite-content" class="wsite-elements wsite-not-footer">

        <div class="ui-se-title">
            本科生导师
        </div>

        <div class="clear" style="border-bottom:1px solid #cccccc;"></div>


        <div class="ui-project ui-paper">
            <p style="text-align: center">正在完善...

            </p>
        </div>


        <div class="ui-se-title">
            科技竞赛
        </div>

        <div class="clear" style="border-bottom:1px solid #cccccc;"></div>


        <div class="ui-project ui-paper">
            <p style="text-align: center">正在完善...

            </p>
        </div>

        <div class="ui-se-title">
            课堂教学
        </div>

        <div class="clear" style="border-bottom:1px solid #cccccc;"></div>

        <div class="ui-project ui-paper">
            <h4>RIML承担的课堂教学工作</h4>
            <p>1. 材料力学（中文） 4学分 面向全校本科生，授课人：沈煜年</p>
            <p>2. 工程力学（中文） 3学分 面向全校本科生，授课人：沈煜年</p>
            <p>3. 力学理论与实践（中文） 3学分 面向全校本科生，授课人：沈煜年</p>
            <p>4. 应力波理论及其应用（中文） 2学分 面向全校研究生，授课人：沈煜年</p>
            <p>5. Elastic Mechanics（英文） 3学分 面向全校留学研究生，授课人：沈煜年</p>
            <p>6. Elasticity Theory（英文） 3学分 面向全校留学研究生，授课人：沈煜年</p>
            <p>7. Mechanics Modelling and Simulation（英文） 3学分 面向全校留学研究生，授课人：沈煜年</p>

            <h4>RIML承担的科研训练工作</h4>
            <p>1. 国家级和省级全国百千万本科科研训练，面向全校本科生，指导人：沈煜年</p>

            <h4>RIML承担的本科专业班级指导工作</h4>
            <p>1. 工程力学专业2015级，指导人：沈煜年，升学率超过80%</p>
        </div>

        <div class="ui-se-title">
            本科生科研训练
        </div>

        <div class="clear" style="border-bottom:1px solid #cccccc;"></div>


        <div class="ui-project ui-paper">
            <p style="text-align: center">正在完善...

            </p>
        </div>
    </div>
{% endblock %}
{% block keyan_scripts %}

{% endblock %}

