{% extends "base.html" %}
{% load staticfiles %}


{% block title %}人工智能{% endblock %}
{% block styles %}
    <link href="{% static 'css/ziye.css' %}" rel="stylesheet" />
{% endblock %}
{% block content %}

<div style="clear:both;margin:0 auto;width:1200px;height:10px;background:white;"></div>
<table style="margin:0 auto;width:1200px;background:white;">
    <tr>
        <td width="10"></td>
        <td width="180" height="400" valign="top" style="background:#f2f2f2;">
            <div class="leftclassname">教学工作</div>
            <div class="leftsubclass">
                <ul>
                    <li class=""><a href="benkeshengdaoshi"style="text-decoration: none"><div class="b1">&gt;</div><div class="b2">o</div> 本科生导师</a></li>
                    <li class="active"><a href="rengongzhineng"style="text-decoration: none"><div class="b1">&gt;</div><div class="b2">o</div> 人工智能</a></li>

                </ul>
            </div>
        </td>
        <td width="10"></td>
        <td valign="top">
            <div class="location">
                <i class="location_mark"></i>
                <div>
                    <b>当前位置：</b>
                    <a href="/"style="text-decoration: none">首页</a>&nbsp;>&nbsp;<a href="jiaoxuegongzuo"style="text-decoration: none">教学工作</a>&nbsp;>&nbsp;<a href="rengongzhineng"style="text-decoration: none">人工智能</a>
                </div>
            </div>



<div class="clear" style="height:20px;"></div>
        </td>
    </tr>
 </table>


<div style="clear:both;margin:0 auto;width:1200px;height:10px;background:white;"></div>
<table style="margin:0 auto;width:1200px;background:white;">

 </table>




{% endblock %}
{% block scripts %}
{% endblock %}