/*.chengyuan{margin-left:25px;}
.chengyuan li{margin:10px;}
.chengyuan li a{
    padding:1px;
    border:1px solid #ccc;
    display:block;
    border-width:0;
}*/
.chengyuan li{
    width:170px;
    height:250px;
    float:left;
    margin:5px 10px;
    text-align:center;
    overflow: hidden;
}

.chengyuan li a{
    padding:1px;

    display:block;
}

.chengyuan li .title{
    clear:both;
    height:22px;
    line-height:22px;
    width:164px;
}
img.pic,
.pic a img{
    padding:1px;

}

.clear{clear:both;overflow:hidden;}
.location{
    height: 25px;
    line-height: 25px;
    margin-top: 10px;
    border-bottom: 2px solid #dfe0e4;
}
.location .location_mark{
    width:5px;
    height:25px;
    float: left;
    background: #3eb6dd;
}
.location div{
    float:left;
    margin-left:8px;
}
.location div a:hover{
    color:#e81f1f;
}
.leftclassname{
    margin:0px 10px 0 0px;
    padding:10px;
    background:white;
    text-align: center;
    font-size: 16px;
    line-height: 1.5;
    cursor: default;
}
.leftsubclass{
    margin: 0 10px 10px 0px;
    background:white;
    height: 100%;
}
.leftsubclass ul{
    padding:10px 25px;
}
.leftsubclass ul li{
    line-height: 30px;
}
.leftsubclass ul li a{
    display: block;
}

.leftsubclass ul li a:hover,
.leftsubclass ul li.active a{
    color:#cc0000;
}

.leftsubclass ul li a .b1,
.leftsubclass ul li a .b2{
    float:left;
    margin-right:5px;
}
.leftsubclass ul li a .b1{display:block;}
.leftsubclass ul li a .b2{display:none;}
.leftsubclass ul li.active a .b1,.leftsubclass ul li a:hover .b1{display:none;}
.leftsubclass ul li.active a .b2,.leftsubclass ul li a:hover .b2{display:block;}

.leftsubclass2{padding-left:20px;}

#conten{
    margin-left: 25px;

}
.pic{
    text-align: center;
    /*border: 1px solid #ccc;*/
    overflow: hidden;
}
.itext p{
    margin-top: 10px;
    margin-bottom: 0px;
    padding: 0px 20px 0em 20px;
    line-height: 1.75;
    color: rgb(98, 98, 98);
    white-space: normal;
    font-size: medium !important;
    word-wrap: break-word;
    text-align: justify;
    text-indent: 2em;

}
.ui-project{
    padding-left: 20px;
    padding-right: 30px;
}