{% extends "base.html" %}
{% load staticfiles %}


{% block styles %}
    <link href="{% static 'css/ziye.css' %}" rel="stylesheet" />

    <style>
    .ui-project p{
        margin-top: 10px;
    margin-bottom: 0px;
    padding: 0px 0px 0.5em;
    line-height: 1.75;
    color: rgb(98, 98, 98);
    white-space: normal;
    font-size: medium !important;
    word-wrap: break-word;
    text-align: justify;
    padding-bottom: 0;
        text-indent: 2em;
    }
    </style>
    {% block ach_styles %}{% endblock %}
{% endblock %}
{% block content %}

<div style="clear:both;margin:0 auto;width:1200px;height:10px;"></div>
<table style="margin:0 auto;width:1200px;background:white;">
    <tr>

        <td width="180" height="400" valign="top" style="background:#f2f2f2;">
            <div class="leftclassname">学术成果</div>
            <div class="leftsubclass">
                <ul>
                    <li><a href="/ach/paper"style="text-decoration: none"><div class="b1">&gt;</div><div class="b2">o</div> 学术论文</a></li>
                    <li><a href="translate"style="text-decoration: none"><div class="b1">&gt;</div><div class="b2">o</div> 著作译著</a></li>
                    <li><a href="patent"style="text-decoration: none"><div class="b1">&gt;</div><div class="b2">o</div> 发明专利</a></li>
                    <li><a href="honor"style="text-decoration: none"><div class="b1">&gt;</div><div class="b2">o</div> 学术荣誉</a></li>
                    <li><a href="sample"style="text-decoration: none"><div class="b1">&gt;</div><div class="b2">o</div> 产品样机</a></li>
                    <li><a href="cover"style="text-decoration: none"><div class="b1">&gt;</div><div class="b2">o</div> 封面集锦</a></li>
                </ul>
            </div>
        </td>
        <td width="10"></td>
        <td valign="top">
            <div class="location">
                <i class="location_mark"></i>
                {% block cur_position %}
                {% endblock %}

            </div>
            <div class="clear" style="height:20px;"></div>
           <div id="content" style="margin-left:0px;">
               {% block ach_content %}{% endblock %}

           </div>


        </td>
    </tr>
 </table>


<div style="clear:both;margin:0 auto;width:1200px;height:10px;background-color: #f4f4f4"></div>

{% endblock %}
{% block scripts %}
    <script>
    $(".xueshu").addClass("nav-active")

    </script>

    {% block ach_scripts %}
        {% endblock %}
{% endblock %}


