{% extends "achievement/ach_base.html" %}
{% load staticfiles %}

{% block title %}封面集锦{% endblock %}
{% block cur_position %}
    <div>
        <b>当前位置：</b>
        <a href="/" style="text-decoration: none">首页</a>&nbsp;&gt;&nbsp;<a href="/ach/papaer"
                                                                           style="text-decoration: none">学术成果</a>&nbsp;&gt;&nbsp;封面集锦
    </div>
{% endblock %}

{% block ach_content %}
    <div class="pic"><a href=""><img width="55%" src="{% static 'img/jianshezhong.bmp' %}" ></a></div>
{% endblock %}
{% block ach_scripts %}

{% endblock %}

