{% extends "achievement/ach_base.html" %}
{% load staticfiles %}

{% block title %}产品样机{% endblock %}
{% block cur_position %}
    <div>
        <b>当前位置：</b>
        <a href="/" style="text-decoration: none">首页</a>&nbsp;&gt;&nbsp;<a href="/ach/papaer"
                                                                           style="text-decoration: none">学术成果</a>&nbsp;&gt;&nbsp;产品样机
    </div>
{% endblock %}

{% block ach_content %}

    <div class="pic"><video src="{% static 'video/sample.mp4' %}" controls="controls" height="600px">
您的浏览器不支持 video 标签。
</video></div>
    <p style="text-align: center">《四旋翼无人》</p>


    <div class="pic"><video src="{% static 'video/sample2.mp4' %}" controls="controls" width="750px">
您的浏览器不支持 video 标签。
</video></div>
    <p style="text-align: center">《行走飞行双模机器人》</p>
{% endblock %}
{% block ach_scripts %}

{% endblock %}

