{% extends "shiyanshiwenhua/culture_base.html" %}
{% load staticfiles %}

{% block title %}实验室文化{% endblock %}
{% block cur_position %}
    <div>
        <b>当前位置：</b>
        <a href="/" style="text-decoration: none">首页</a>&nbsp;&gt;&nbsp;实验室文化
    </div>
{% endblock %}

{% block cul_content %}
    <div id="wsite-content" class="wsite-elements wsite-not-footer">

        <div class="ui-se-title">
            RIML之星
        </div>

        </div>
        <div class="clear" style="border-bottom:1px solid #cccccc;"></div>
        <div class="ui-project ui-paper">
            <p style="text-align: center">正在完善中...</p>

        </div>


        <div class="ui-se-title">
            RIML全家福
        </div>

        </div>
        <div class="clear" style="border-bottom:1px solid #cccccc;"></div>
        <div class="ui-project ui-paper">
            <img src="{% static 'img/quanjiafu/IMG_5020.jpg' %}" height="400" width="550"/>
        </div>

        <div class="ui-se-title">
            聚会远足
        </div>

        </div>
        <div class="clear" style="border-bottom:1px solid #cccccc;"></div>
        <div class="ui-project ui-paper">
            <div class="pic">
                <img src="{% static 'img/juhuiyuanzhu/20190331.jpg' %}" width="400"/>
                <p style="text-align: center">2019年3月31日， 实验室全体团建剧本杀见证“友谊的终点”！</p>
            </div>

            <div class="pic">
                <img src="{% static 'img/juhuiyuanzhu/20191027.jpg' %}" width="400"/>
                <p style="text-align: center">2018年10月27日， 实验室全体在体育公园的秋游——葫芦七兄弟</p>
            </div>
        </div>

        <div class="ui-se-title">
            成员风采
        </div>

        </div>
        <div class="clear" style="border-bottom:1px solid #cccccc;"></div>
        <div class="ui-project ui-paper">
            <p style="text-align: center">正在完善...

            </p>
        </div>

        <div class="ui-se-title">
            校园风光
        </div>


        <div class="clear" style="border-bottom:1px solid #cccccc;"></div>
        <div class="ui-project ui-paper">
            <img src="{% static 'img/school/20191024-1.jpg' %}" height="400" width="550"/>
        </div>


{% endblock %}
{% block keyan_scripts %}

{% endblock %}

