{% extends "shiyanshiwenhua/culture_base.html" %}
{% load staticfiles %}
{% block title %}聚会远足{% endblock %}
{% block cul_styles %}
    <style>
        .pic {
            border: 0;
        }

        .ui-project p {
            text-align: center;
        }
    </style>
{% endblock %}
{% block cur_position %}
    <div>
        <b>当前位置：</b>
        <a href="/" style="text-decoration: none">首页</a>&nbsp;>&nbsp;<a href="shiyanshiwenhua"
                                                                        style="text-decoration: none">实验室文化</a>&nbsp;>&nbsp;<a
            href="quanjiafu" style="text-decoration: none">聚会远足</a>
    </div>
{% endblock %}


{% block cul_content %}
    <div class="ui-project">
        <div class="pic">
            <img src="{% static 'img/juhuiyuanzhu/20190331.jpg' %}" width="400"/>
            <p>2019年3月31日， 实验室全体团建剧本杀见证“友谊的终点”！</p>
        </div>

        <div class="pic">
            <img src="{% static 'img/juhuiyuanzhu/20191027.jpg' %}" width="400"/>
            <p>2018年10月27日， 实验室全体在体育公园的秋游——葫芦七兄弟</p>
        </div>

    </div>

{% endblock %}

