{% extends "base.html" %}
{% load staticfiles %}


{% block title %}离别寄语{% endblock %}
{% block styles %}
    <link href="{% static 'css/ziye.css' %}" rel="stylesheet" />
{% endblock %}
{% block content %}

<div style="clear:both;margin:0 auto;width:1200px;height:10px;background:white;"></div>
<table style="margin:0 auto;width:1200px;background:white;">
    <tr>
        <td width="10"></td>
        <td width="180" height="400" valign="top" style="background:#f2f2f2;">
            <div class="leftclassname">实验室文化</div>
            <div class="leftsubclass">
                <ul>
                    <li class=""><a href="zhinengzhixing"style="text-decoration: none"><div class="b1">&gt;</div><div class="b2">o</div> 智能之星</a></li>
                    <li class=""><a href="zuijiatuandui"style="text-decoration: none"><div class="b1">&gt;</div><div class="b2">o</div> 最佳团队</a></li>
                    <li class=""><a href="tebiegongxian"style="text-decoration: none"><div class="b1">&gt;</div><div class="b2">o</div> 特别贡献</a></li>
                    <li class=""><a href="quanjiafu"style="text-decoration: none"><div class="b1">&gt;</div><div class="b2">o</div> 全家福</a></li>
                    <li class=""><a href="juhuiyuanzu"style="text-decoration: none"><div class="b1">&gt;</div><div class="b2">o</div> 聚会远足</a></li>
                    <li class=""><a href="shenghuojianying"style="text-decoration: none"><div class="b1">&gt;</div><div class="b2">o</div> 生活剪影</a></li>
                    <li class=""><a href="xiaoyuanfengguang"style="text-decoration: none"><div class="b1">&gt;</div><div class="b2">o</div> 校园风光</a></li>
                    <li class=""><a href="fengmiangushi"style="text-decoration: none"><div class="b1">&gt;</div><div class="b2">o</div> 封面故事</a></li>
                    <li class=""><a href="chengyuanfengcai"style="text-decoration: none"><div class="b1">&gt;</div><div class="b2">o</div> 成员风采</a></li>
                    <li class=""><a href="biyeshifen"style="text-decoration: none"><div class="b1">&gt;</div><div class="b2">o</div> 毕业时分</a></li>
                    <li class="active"><a href="libiejiyu"style="text-decoration: none"><div class="b1">&gt;</div><div class="b2">o</div> 离别寄语</a></li>
                    <li class=""><a href="duzhewenzai"style="text-decoration: none"><div class="b1">&gt;</div><div class="b2">o</div> 读者文摘</a></li>
                </ul>
            </div>
        </td>
        <td width="10"></td>
        <td valign="top">
            <div class="location">
                <i class="location_mark"></i>
                <div>
                    <b>当前位置：</b>
                    <a href="/"style="text-decoration: none">首页</a>&nbsp;>&nbsp;<a href="shiyanshiwenhua"style="text-decoration: none">实验室文化</a>&nbsp;>&nbsp;<a href="libiejiyu"style="text-decoration: none">离别寄语</a>
                </div>
            </div>



<div class="clear" style="height:20px;"></div>
        </td>
    </tr>
 </table>


<div style="clear:both;margin:0 auto;width:1200px;height:10px;background:white;"></div>
<table style="margin:0 auto;width:1200px;background:white;">

 </table>




{% endblock %}
{% block scripts %}
{% endblock %}