{% extends "shiyanshiwenhua/culture_base.html" %}
{% load staticfiles %}

{% block title %}全家福{% endblock %}
{% block cur_position %}
    <div>
        <b>当前位置：</b>
        <a href="/" style="text-decoration: none">首页</a>&nbsp;>&nbsp;<a href="shiyanshiwenhua"
                                                                        style="text-decoration: none">实验室文化</a>&nbsp;>&nbsp;<a
            href="quanjiafu" style="text-decoration: none">RIML全家福</a>
    </div>
{% endblock %}
{% block cul_content %}
    <div style="text-align: center"><img src="{% static 'img/quanjiafu/IMG_5020.jpg' %}" height="400" width="550"/>
    </div>

{% endblock %}
