{% extends "base.html" %}
{% load staticfiles %}


{% block title %}学术成果{% endblock %}
{% block styles %}
    <link href="{% static 'css/ziye.css' %}" rel="stylesheet" />
{% endblock %}
{% block content %}

    <div style="clear:both;margin:0 auto;width:1200px;height:10px;background:white;"></div>
<table style="margin:0 auto;width:1200px;background:white;">
    <tr>
        <td width="10"></td>
        <td width="180" height="400" valign="top" style="background:#f2f2f2;">
            <div class="leftclassname"></div>
            <div class="leftsubclass">
                <ul>
                    <li ><a href="xueshuchengguo"style="text-decoration: none"><div class="b1">&gt;</div><div class="b2">o</div> 学术成果</a></li>
                    <li ><a href="xueshulunwen"style="text-decoration: none"><div class="b1">&gt;</div><div class="b2">o</div> 学术论文</a></li>
                    <li><a href="liangdiangongzuo"style="text-decoration: none"><div class="b1">&gt;</div><div class="b2">o</div> 亮点工作</a></li>
                    <li><a href="fengmianjijin"style="text-decoration: none"><div class="b1">&gt;</div><div class="b2">o</div> 封面集锦</a></li>
                    <li><a href="zhuzuoyizhu"style="text-decoration: none"><div class="b1">&gt;</div><div class="b2">o</div> 著作译著</a></li>
                    <li><a href="famingzhuanli"style="text-decoration: none"><div class="b1">&gt;</div><div class="b2">o</div> 发明专利</a></li>
                    <li><a href="xueshujiangli"style="text-decoration: none"><div class="b1">&gt;</div><div class="b2">o</div> 学术荣誉</a></li>
                </ul>
            </div>
        </td>
        <td width="10"></td>
        <td valign="top">
            <div class="location">
                <i class="location_mark"></i>
                <div>
                    <b>当前位置：</b>
                   <a href="/"style="text-decoration: none">首页</a>&nbsp;>&nbsp;<a href="xueshuchengguo"style="text-decoration: none">学术成果
                </div>
            </div>
            <div class="clear" style="height:10px;"></div>

                  <div id="content" style="margin-left:0px;">
                <div id="wsite-content" class="wsite-elements wsite-not-footer">

                    <div style="padding:0 20px;height:50px;line-height:50px;font-size:28px;color:#c50000;">学术成果</div>
                    <div style="padding:20px;padding-top:0;">
                        <p><span style="font-size: medium; color: rgb(98, 98, 98); font-family: Georgia, 'Microsoft YaHei'; line-height: 21px;">标题/简介</span></p>
<p style="margin: 0px; padding: 0px 0px 0.5em; line-height: 21px; color: rgb(98, 98, 98); font-family: Georgia, 'Microsoft YaHei'; font-size: 14px;"><span style="margin: 0px; padding: 0px; font-size: medium;">所获荣誉/</span><span style="margin: 0px; padding: 0px; font-size: medium;"></span></p>
<p style="margin: 0px; padding: 0px 0px 0.5em; line-height: 21px; color: rgb(98, 98, 98); font-family: Georgia, 'Microsoft YaHei'; font-size: 14px;">&nbsp;</p>
<p style="margin: 0px; padding: 0px 0px 0.5em; line-height: 21px; color: rgb(98, 98, 98); font-family: Georgia, 'Microsoft YaHei'; font-size: 14px;"><span style="margin: 0px; padding: 0px; font-size: medium;"></span>研究方向<span style="margin: 0px; padding: 0px; font-size: medium;">/主要内容</span></p>                    </div>
                    <div class="clear" style="border-bottom:1px solid #cccccc;"></div>
                    <div class="clear" style="height:20px;"></div>

                    <ul class="huaxu">

                        <li>
     <div class="pic"><a href="javascript:;"><img src="" width="600" height="400"></a></div>
     <div class="title" style="border-bottom-width:0;">成果一</div>
</li>


                        <li>
     <div class="pic"><a href="javascript:;"><img src="" width="600" height="400"></a></div>
     <div class="title" style="border-bottom-width:0;">成果二</div>
</li>



                    </ul>
                </div>
                <div class="clear" style="height:20px;"></div>
                <div style="text-align:right;padding-right:20px;">

                </div>
            </div>
            <div class="clear" style="height:20px;"></div>
        </td>
    </tr>
 </table>


<div style="clear:both;margin:0 auto;width:1200px;height:10px;background:white;"></div>
<table style="margin:0 auto;width:1200px;background:white;">


<script>
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "//hm.baidu.com/hm.js?760a147bfc858a69345c7214d57fd4bb";
  var s = document.getElementsByTagName("script")[0];
  s.parentNode.insertBefore(hm, s);
})();
</script>



{% endblock %}
{% block scripts %}
{% endblock %}
