{% extends "base.html" %}
{% load staticfiles %}


{% block title %}著作译著{% endblock %}
{% block styles %}
    <link href="{% static 'css/ziye.css' %}" rel="stylesheet" />
{% endblock %}
{% block content %}

    <div style="clear:both;margin:0 auto;width:1200px;height:10px;background:white;"></div>
<table style="margin:0 auto;width:1200px;background:white;">
    <tr>
        <td width="10"></td>
        <td width="180" height="400" valign="top" style="background:#f2f2f2;">
            <div class="leftclassname"></div>
            <div class="leftsubclass">
                <ul>
                    <li ><a href="xueshuchengguo"style="text-decoration: none"><div class="b1">&gt;</div><div class="b2">o</div> 学术成果</a></li>
                    <li ><a href="xueshulunwen"style="text-decoration: none"><div class="b1">&gt;</div><div class="b2">o</div> 学术论文</a></li>
                    <li><a href="liangdiangongzuo"style="text-decoration: none"><div class="b1">&gt;</div><div class="b2">o</div> 亮点工作</a></li>
                    <li><a href="fengmianjijin"style="text-decoration: none"><div class="b1">&gt;</div><div class="b2">o</div> 封面集锦</a></li>
                    <li><a href="zhuzuoyizhu"style="text-decoration: none"><div class="b1">&gt;</div><div class="b2">o</div> 著作译著</a></li>
                    <li><a href="famingzhuanli"style="text-decoration: none"><div class="b1">&gt;</div><div class="b2">o</div> 发明专利</a></li>
                    <li><a href="xueshujiangli"style="text-decoration: none"><div class="b1">&gt;</div><div class="b2">o</div> 学术荣誉</a></li>
                </ul>
            </div>
        </td>
        <td width="10"></td>
        <td valign="top">
            <div class="location">
                <i class="location_mark"></i>
                <div>
                    <b>当前位置：</b>
                   <a href="/"style="text-decoration: none">首页</a>&nbsp;>&nbsp;<a href="xueshuchengguo"style="text-decoration: none">学术成果</a>&nbsp;>&nbsp;著作译著
                </div>
            </div>
            <div class="clear" style="height:10px;"></div>
                 <div id="content" style="margin-left:0px;">
                <div id="wsite-content" class="wsite-elements wsite-not-footer">

                    <div style="padding:0 20px;height:50px;line-height:50px;font-size:28px;color:#c50000;">著作译著</div>
                    <div style="padding:20px;padding-top:0;">
                                            </div>
                    <div class="clear" style="border-bottom:1px solid #cccccc;"></div>
        <div class="clear" style="height:20px;"></div>

<div class="clear" style="height:20px;"></div>
        </td>
    </tr>
 </table>


<div style="clear:both;margin:0 auto;width:1200px;height:10px;background:white;"></div>
<table style="margin:0 auto;width:1200px;background:white;">




{% endblock %}
{% block scripts %}
{% endblock %}
