{% extends "research/keyan_base.html" %}
{% load staticfiles %}


{% block title %}相关杂志{% endblock %}
{% block cur_position %}
    <div>
        <b>当前位置：</b>
        <a href="/" style="text-decoration: none">首页</a>&nbsp;&gt;&nbsp;<a href="chengdanxiangmu"
                                                                           style="text-decoration: none">科学研究</a>&nbsp;&gt;&nbsp;相关杂志
    </div>
{% endblock %}
{% block keyan_content %}
<div class="pic"><a href=""><img width="55%" src="{% static 'img/jianshezhong.bmp' %}" ></a></div>

{% endblock %}
{% block keyan_scripts %}

{% endblock %}


