{% extends "member/member_base.html" %}
{% load staticfiles %}

{% block title %}研究生-实验室成员{% endblock %}
{% block cur_position %}
    <div>
        <b>当前位置：</b>
        <a href="/" style="text-decoration: none">首页</a>&nbsp;>&nbsp;<a href="/member" style="text-decoration: none">实验室成员</a>&nbsp;>&nbsp;<a href="#" style="text-decoration: none">硕士研究生</a>
    </div>
{% endblock %}
{% block mem_content %}
    <div style="padding:0 20px;height:70px;line-height:70px;font-size:24px;color:#c50000;">硕士研究生</div>

    <h4 style="padding-left: 20px">在读研究生</h4>
    <ul class="chengyuan">
        <li>
            <div class="pic"><a href="/member/postgraduate/abdulazeez"><img src="{% static 'img/postgraduate/abdulazeez-min.jpg' %}"
                                                       width="162"
                                                       height="212"></a></div>
            <div class="title" style="border-bottom-width:0;">abdulazeez</div>
        </li>
        <li>
            <div class="pic"><a href="/member/postgraduate/zhangsai"><img src="{% static 'img/postgraduate/zhangsai-min.jpg' %}"
                                                     height="212"></a></div>
            <div class="title" style="border-bottom-width:0;">张赛</div>
        </li>
        <li>
            <div class="pic"><a href="/member/postgraduate/zhoujincheng"><img src="{% static 'img/postgraduate/zhoujincheng-min.jpg' %}"
                                                          height="212"></a></div>
            <div class="title" style="border-bottom-width:0;">周锦程</div>
        </li>
        <li>
            <div class="pic"><a href="/member/postgraduate/zhouyi"><img src="{% static 'img/postgraduate/zhouyi-min.jpg' %}"
                                                   height="212"></a></div>
            <div class="title" style="border-bottom-width:0;">周怡</div>
        </li>
        <li>
            <div class="pic"><a href="/member/postgraduate/chenkang"><img src="{% static 'img/postgraduate/chenkang-min.jpg' %}"
                                                     height="212"></a></div>
            <div class="title" style="border-bottom-width:0;">陈康</div>
        </li>
        <li>
            <div class="pic"><a href="/member/postgraduate/liyong"><img src="{% static 'img/postgraduate/liyong-min.jpg' %}"
                                                   height="212"></a></div>
            <div class="title" style="border-bottom-width:0;">李庸</div>
        </li>
        <li>
            <div class="pic"><a href="/member/postgraduate/jinchunlei"><img src="{% static 'img/postgraduate/jinchunlei-min.jpg' %}"

                                                       height="212"></a></div>
            <div class="title" style="border-bottom-width:0;">金春雷</div>
        </li>
        <li>
            <div class="pic"><a href="/member/postgraduate/qinzongxi"><img src="{% static 'img/postgraduate/qinzongxi.jpg' %}"

                                                       height="212"></a></div>
            <div class="title" style="border-bottom-width:0;">覃宗喜</div>
        </li>
        <li>
            <div class="pic"><a href="/member/postgraduate/zhangxinyi"><img src="{% static 'img/postgraduate/zhangxinyi.jpg' %}"

                                                       height="212"></a></div>
            <div class="title" style="border-bottom-width:0;">张新翼</div>
        </li>
        <li>
            <div class="pic"><a href="/member/postgraduate/zhujie"><img src="{% static 'img/postgraduate/zhujie.jpg' %}"

                                                       height="212"></a></div>
            <div class="title" style="border-bottom-width:0;">朱杰</div>
        </li>



    </ul>
    <br>
    <div class="clear" style="height:10px;"></div>
    <h4 style="padding-left: 20px">已毕业研究生</h4>
    <ul class="chengyuan">
    <li>
            <div class="pic"><a href="/member/postgraduate/zhaoyuhang"><img src="{% static 'img/postgraduate/zhaoyuhang.jpg' %}"
                                                       height="212"></a></div>
            <div class="title" style="border-bottom-width:0;">赵宇航（美的集团工作）</div>
        </li>
        <li>
            <div class="pic"><a href="/member/postgraduate/zhanghao"><img src="{% static 'img/postgraduate/zhanghao.jpg' %}"
                                                     height="212"></a></div>
            <div class="title" style="border-bottom-width:0;">张灏（新能源外企500强）</div>
        </li>
        <li>
            <div class="pic"><a href="/member/postgraduate/dingwei"><img src="{% static 'img/postgraduate/dingwei.jpg' %}"
                                                    height="212"></a></div>
            <div class="title" style="border-bottom-width:0;">丁伟（西飞电机）</div>
        </li>
        <li>
            <div class="pic"><a href="/member/postgraduate/wangwei"><img src="{% static 'img/postgraduate/wangwei.jpg' %}"
                                                    height="212"></a></div>
            <div class="title" style="border-bottom-width:0;">王伟（中电集团）</div>
        </li>
        <li>
            <div class="pic"><a href="/member/postgraduate/yangjiongshan"><img src="{% static 'img/postgraduate/yangjiongchan.jpg' %}"
                                                          height="212"></a></div>
            <div class="title" style="border-bottom-width:0;">杨炯灿（高科技外企）</div>
        </li>
        <li>
            <div class="pic"><a href="/member/postgraduate/kuangye"><img src="{% static 'img/postgraduate/kuangye.jpg' %}"
                                                    height="212"></a></div>
            <div class="title" style="border-bottom-width:0;">匡也（中科院天文所）</div>
        </li>
        <li>
            <div class="pic"><a href="/member/postgraduate/sunhong"><img src="{% static 'img/postgraduate/sunhong-min.jpg' %}"
                                                    height="212"></a></div>
            <div class="title" style="border-bottom-width:0;">孙泓（山东潍柴集团）</div>
        </li>
    </ul>
{% endblock %}
