{% extends "member/member_base.html" %}
{% load staticfiles %}


{% block title %}研究生{% endblock %}
{% block cur_position %}
    <div>
        <b>当前位置：</b>
        <a href="/" style="text-decoration: none">首页</a>&nbsp;>&nbsp;<a href="/member" style="text-decoration: none">实验室成员</a>&nbsp;>&nbsp;<a
            href="/member/postgraduate" style="text-decoration: none">硕士研究生</a>>&nbsp;<a href=""
                                                                                         style="text-decoration: none">孙泓</a>

    </div>
{% endblock %}

{% block mem_content %}

            <div style="padding:0 20px;height:70px;line-height:70px;font-size:24px;color:#c50000;">孙泓              </div>
            <ul class="chengyuan">
                <li>
                    <div class="pic"><a href="sunhong"><img src="{% static 'img/postgraduate/sunhong-min.jpg' %}" height="212"></a></div>

                </li>

            </ul>

            <div class="clear" style="height:10px;"></div>
             <div class="ui-project">
                 <p>自我评价：
                 踏实做事诚实做人是我一直坚持的准则。坚信一分耕耘一分收获，通向未来的路是靠自己一步一步脚踏实地地踩出来的。2016年成功加入实验室以来，一直致力于含裂纹炸药的动力学研究，在老师与同窗的帮助下一直稳步前进，希望未来能更进一步。</p>
                 <p>个人箴言：凡事预则立，不预则废。</p>
                 <p>个人简历：
                     <ul>
                         <li><p>1994年出生于湖北省嘉鱼县</p></li>
                         <li><p>2012年进入南京理工大学求学</p></li>
                         <li><p>2016年考入南京理工大学研究生院</p></li>
                     </ul>
                 </p>
                 <p>个人爱好：玩游戏，看书</p>
                 <p>联系方式：1661272978@qq.com</p>
             </div>
            <div class="clear" style="height:10px;"></div>

{% endblock %}


