{% extends "base.html" %}
{% load staticfiles %}


{% block title %}研究生{% endblock %}
{% block styles %}
    <link href="{% static 'css/ziye.css' %}" rel="stylesheet" />
{% endblock %}

{% block content %}
    <div style="clear:both;margin:0 auto;width:1200px;height:10px;background:white;"></div>
<table style="margin:0 auto;width:1200px;background:white;">
    <tr>
        <td width="10"></td>
        <td width="180" height="400" valign="top" style="background:#f2f2f2;">
            <div class="leftclassname">实验室成员</div>
            <div class="leftsubclass">
                <ul>
                    <li class=""><a href="teacher" style="text-decoration: none"><div class="b1">&gt;</div><div class="b2">o</div> 教师</a></li>
                    <li class=""><a href="dc" style="text-decoration: none"><div class="b1">&gt;</div><div class="b2">o</div> 博士研究生</a></li>
                    <li class=""><a href="postgraduate" style="text-decoration: none"><div class="b1">&gt;</div><div class="b2">o</div> 硕士研究生</a></li>
                    <li class=""><a href="undergraduate" style="text-decoration: none"><div class="b1">&gt;</div><div class="b2">o</div> 本科生</a></li>
                    <li class=""><a href="yilikai" style="text-decoration: none"><div class="b1">&gt;</div><div class="b2">o</div> 已离开人员</a></li>
                    <li class=""><a href="RIMLer" style="text-decoration: none"><div class="b1">&gt;</div><div class="b2">o</div> RIMLer</a></li>
                </ul>
            </div>
        </td>
        <td width="10"></td>
        <td valign="top">
            <div class="location">
                <i class="location_mark"></i>
                <div>
                    <b>当前位置：</b>
                    <a href="/" style="text-decoration: none">首页</a>&nbsp;>&nbsp;<a href="member" style="text-decoration: none">实验室成员</a>&nbsp;>&nbsp;<a href="postgraduate" style="text-decoration: none">研究生</a>>&nbsp;<a href="yangjiongshan" style="text-decoration: none">杨炯灿</a>

                </div>
            </div>
            <div class="clear" style="height:10px;"></div>
            <div class="clear" style="border-bottom:1px solid #cccccc;"></div>
            <div style="padding:0 20px;height:70px;line-height:70px;font-size:24px;color:#c50000;">杨炯灿              </div>
            <ul class="chengyuan">
                <li>
                    <div class="pic"><a href="yangjiongshan"><img src="{% static 'img/postgraduate/IMG_20170719_201455.jpg' %}" width="162" height="212"></a></div>

                </li>

            </ul>

            <div class="clear" style="height:10px;"></div>
             <div>
                 <p>自我评价：
                 我是一个严肃谨慎的人，深信实践是检验真理的唯一标准。2016年，我成功加入了机器人科学与智能机器实验室，并致力于研究机器人的手指系统，希望通过此科研能加强我的交流与创新能力。</p>
                 <p>个人箴言：纸上得来终觉浅，绝知此事要躬行。</p>
                 <p>
                     <ui>
                         个人简历：<li>1993年  出生于浙江省绍兴市诸暨</li>
                         <li>2012年  进入于宁波大学</li>
                         <li>2016年  考研成功并进入南京理工大学</li>
                     </ui>
                 </p>
                 <p>个人爱好：看小说，打乒乓球</p>
                 <p>联系方式：1191104464@qq.com</p>
             </div>
            <div class="clear" style="height:10px;"></div>
            <div class="clear" style="border-bottom:1px solid #cccccc;"></div>
            <div class="clear" style="height:20px;"></div>
        </td>
    </tr>
 </table>
<div class="clear"></div>
{% endblock %}
{% block scripts %}

{% endblock %}

