{% extends "member/member_base.html" %}
{% load staticfiles %}


{% block title %}研究生{% endblock %}
{% block cur_position %}
    <div>
        <b>当前位置：</b>
        <a href="/" style="text-decoration: none">首页</a>&nbsp;>&nbsp;<a href="/member" style="text-decoration: none">实验室成员</a>&nbsp;>&nbsp;<a
            href="/member/postgraduate" style="text-decoration: none">硕士研究生</a>>&nbsp;<a href=""
                                                                                         style="text-decoration: none">杨炯灿</a>

    </div>
{% endblock %}
{% block mem_content %}

            <div style="padding:0 20px;height:70px;line-height:70px;font-size:24px;color:#c50000;">杨炯灿              </div>
            <ul class="chengyuan">
                <li>
                    <div class="pic"><a href="yangjiongshan"><img src="{% static 'img/postgraduate/yangjiongchan.jpg' %}"  height="212"></a></div>

                </li>

            </ul>

            <div class="clear" style="height:10px;"></div>
             <div class="ui-project">
                 <p>自我评价：
                 我是一个严肃谨慎的人，深信实践是检验真理的唯一标准。2016年，我成功加入了机器人科学与智能机器实验室，并致力于研究机器人的手指系统，希望通过此科研能加强我的交流与创新能力。</p>
                 <p>个人箴言：纸上得来终觉浅，绝知此事要躬行。</p>
                 <p>个人简历：
                     <ul>
                         <li><p>1993年  出生于浙江省绍兴市诸暨</p></li>
                         <li><p>2012年  进入于宁波大学</p></li>
                         <li><p>2016年  考研成功并进入南京理工大学</p></li>
                     </ul>
                 </p>
                 <p>个人爱好：看小说，打乒乓球</p>
                 <p>联系方式：1191104464@qq.com</p>
             </div>
            <div class="clear" style="height:10px;"></div>

{% endblock %}

