{% extends "member/member_base.html" %}
{% load staticfiles %}


{% block title %}研究生{% endblock %}
{% block cur_position %}
    <div>
        <b>当前位置：</b>
        <a href="/" style="text-decoration: none">首页</a>&nbsp;>&nbsp;<a href="/member" style="text-decoration: none">实验室成员</a>&nbsp;>&nbsp;<a
            href="/member/postgraduate" style="text-decoration: none">硕士研究生</a>>&nbsp;<a href=""
                                                                                style="text-decoration: none">张赛</a>

    </div>
{% endblock %}

{% block mem_content %}

    <div style="padding:0 20px;height:70px;line-height:70px;font-size:24px;color:#c50000;">张赛</div>
    <ul class="chengyuan">
        <li>
            <div class="pic"><a href="sunhong"><img src="{% static 'img/postgraduate/zhangsai-min.jpg' %}"
                                                    height="212"></a></div>

        </li>

    </ul>

    <div class="clear" style="height:10px;"></div>
    <div class="ui-project">
        <p>自我评价：
            个人性格外向，在日常的生活学习中积极与人沟通交流，合作解决问题能力强。具有创造性思维和创新意识，学习努力认真。</p>
        <p>个人箴言：不忘初心，方得始终。</p>
        <p>
            个人简历：
            <ul>
                <li>
        <p>1994年出生于陕西省安康市</p></li>
        <li><p>2013年进入南京理工大学求学</p></li>
        <li><p>2017年考入南京理工大学研究生院</p></li>
        </ul>
        </p>
        <p>主要工作：目前负责实验室的实验设计和实验部分，同时兼顾LS-DYNA仿真。</p>
        <p>个人爱好：爱好摄影，常负责教研室外出活动的拍照。</p>
        <p>联系方式：513571936@qq.com</p>
    </div>
    <div class="clear" style="height:10px;"></div>


{% endblock %}


