{% extends "base.html" %}
{% load staticfiles %}


{% block title %}研究生{% endblock %}
{% block styles %}
    <link href="{% static 'css/ziye.css' %}" rel="stylesheet" />
{% endblock %}

{% block content %}
    <div style="clear:both;margin:0 auto;width:1200px;height:10px;background:white;"></div>
<table style="margin:0 auto;width:1200px;background:white;">
    <tr>
        <td width="10"></td>
        <td width="180" height="400" valign="top" style="background:#f2f2f2;">
            <div class="leftclassname">实验室成员</div>
            <div class="leftsubclass">
                <ul>
                    <li class=""><a href="teacher" style="text-decoration: none"><div class="b1">&gt;</div><div class="b2">o</div> 教师</a></li>
                    <li class=""><a href="assistant" style="text-decoration: none"><div class="b1">&gt;</div><div class="b2">o</div> 研究助理</a></li>
                    <li class=""><a href="postgraduate
" style="text-decoration: none"><div class="b1">&gt;</div><div class="b2">o</div> 研究生</a></li>
                    <li class=""><a href="undergraduate" style="text-decoration: none"><div class="b1">&gt;</div><div class="b2">o</div> 本科生</a></li>
                    <li class=""><a href="RIMLer" style="text-decoration: none"><div class="b1">&gt;</div><div class="b2">o</div> RIMLer</a></li>
                </ul>
            </div>
        </td>
        <td width="10"></td>
        <td valign="top">
            <div class="location">
                <i class="location_mark"></i>
                <div>
                    <b>当前位置：</b>
                    <a href="/" style="text-decoration: none">首页</a>&nbsp;>&nbsp;<a href="member" style="text-decoration: none">实验室成员</a>&nbsp;>&nbsp;<a href="postgraduate" style="text-decoration: none">研究生</a>>&nbsp;<a href="" style="text-decoration: none">赵宇航</a>

                </div>
            </div>
            <div class="clear" style="height:10px;"></div>
            <div class="clear" style="border-bottom:1px solid #cccccc;"></div>
            <div style="padding:0 20px;height:70px;line-height:70px;font-size:24px;color:#c50000;">赵宇航               </div>
            <ul class="chengyuan">
                <li>
                    <div class="pic"><a href=""><img src="{% static 'img/postgraduate/P60409-090039.jpg' %}" width="162" height="212"></a></div>
                </li>

            </ul>
             <div>
                 <p>自我评价：
                 我是赵宇航，本科研究生阶段都在南理工度过，熟悉的环境与师友可以很快投入研究生工作中，生活中我对很多事物比较有兴趣，喜欢看书上网开脑洞，周末爬爬山。</p>

                 <p>
                     <ui>
                         个人简历：<li>1993年1月   出生于河南省辉县市</li>
                         <li>2011年5月   南京理工大学理学院工程力学</li>
                         <li>2015年9月   南京理工大学理学院工程力学系研究生</li>
                     </ui>
                 </p>
                 <p>主要工作：研究课题主要为双连杆Painlevé paradox的实验装置的设计与实现，实验数据收集与分析，以及相关理论研究。</p>
                 <p>联系方式：15195752597@163.com</p>
             </div>
            <div class="clear" style="height:10px;"></div>
            <div class="clear" style="border-bottom:1px solid #cccccc;"></div>
            <div class="clear" style="height:20px;"></div>
        </td>
    </tr>
 </table>
<div class="clear"></div>
{% endblock %}
{% block scripts %}
{% endblock %}

