{% extends "member/member_base.html" %}
{% load staticfiles %}


{% block title %}研究生{% endblock %}
{% block cur_position %}
    <div>
        <b>当前位置：</b>
        <a href="/" style="text-decoration: none">首页</a>&nbsp;>&nbsp;<a href="/member" style="text-decoration: none">实验室成员</a>&nbsp;>&nbsp;<a
            href="/member/postgraduate" style="text-decoration: none">硕士研究生</a>>&nbsp;<a href=""
                                                                                 style="text-decoration: none">周锦程</a>

    </div>
{% endblock %}

{% block mem_content %}
    <div style="padding:0 20px;height:70px;line-height:70px;font-size:24px;color:#c50000;">周锦程</div>
    <ul class="chengyuan">
        <li>
            <div class="pic"><a href="zhoujincheng"><img src="{% static 'img/postgraduate/zhoujincheng-min.jpg' %}"
                                                         height="212"></a></div>

        </li>

    </ul>

    <div class="clear" style="height:10px;"></div>
    <div class="ui-project">
        <p>自我评价：
            乐观阳光的少年，乐于助人，团结同事，争做科研创新达人。</p>
        <p>个人箴言：让自己变得更优秀</p>
        <p> 个人简历：
            <ul>
                <li>
        <p>1995年出生于浙江省余姚市</p></li>
        <li><p>2013年进入南京理工大学求学，获得双学位</p></li>
        <li><p>2017年考入南京理工大学研究生院</p></li>
        </ul>
        </p>
        <p>主要工作：从事爪刺式飞行爬壁机器人的研究</p>
        <p>联系方式：515484158@qq.com</p>
    </div>
    <div class="clear" style="height:10px;"></div>

{% endblock %}


