{% extends "member/member_base.html" %}
{% load staticfiles %}


{% block title %}研究生{% endblock %}
{% block cur_position %}
    <div>
        <b>当前位置：</b>
        <a href="/" style="text-decoration: none">首页</a>&nbsp;>&nbsp;<a href="/member" style="text-decoration: none">实验室成员</a>&nbsp;>&nbsp;<a
            href="/member/postgraduate" style="text-decoration: none">硕士研究生</a>>&nbsp;<a href=""
                                                                                 style="text-decoration: none">周怡</a>

    </div>
{% endblock %}

{% block mem_content %}

    <div style="padding:0 20px;height:70px;line-height:70px;font-size:24px;color:#c50000;">周怡</div>
    <ul class="chengyuan">
        <li>
            <div class="pic"><a href="zhouyi"><img src="{% static 'img/postgraduate/zhouyi-min.jpg' %}"
                                                   height="212"></a></div>

        </li>

    </ul>

    <div class="clear" style="height:10px;"></div>
    <div class="ui-project">
        <p>自我评价：
            独立认真，勤于思辨。在研究生期间通过对学术研究的系统学习，建立了科学条理的学习思维。</p>
        <p>个人箴言：认识你自己，凡事勿过度</p>
        <p>个人简历：
            <ul>
                <li>
        <p>1995年10月出生于江苏省常州市</p></li>
        <li><p>2013年9月考入南京理工大学工程力学系</p></li>
        <li><p>2017年9月考入南京理工大学固体力学系研究生</p></li>
        </ul>
        </p>
        <p>主要工作：目前的研究方向是驱动蛋白在微管上行走的力学响应</p>
        <p>联系方式：944969794@qq.com</p>
    </div>
    <div class="clear" style="height:10px;"></div>

{% endblock %}


