{% extends "mobile/base.html" %}
{% load staticfiles %}
{% block title %}陈涛老师{% endblock %}

{% block content %}
    <h4 class="mui-name-title">陈涛
    <div class="title-line"></div>
    </h4>
    <div class="mui-card-content">
        <img src="{% static 'img/teacher/chentao.png' %}" alt="" width="100%">
    </div>
    <h4 class="mui-name-title">简介
    <div class="title-line"></div></h4>
    <div class="mui-card-content">
        <div class="mui-card-content-inner">
            <p>陈涛，讲师，博士。研究领域为发射装药安全性理论与试验评估技术、内弹道两相流动力学、工程力学实验技术，承担多项国防重大项目，出版专著1部，发表论文20多篇，发明专利10多项，协助接待外国专家及学术交流10多次。</p>
        </div>
    </div>


    <div class="clear" style="height:10px;"></div>

{% endblock %}

