{% extends "mobile/base.html" %}
{% load staticfiles %}
{% block title %}潘健智老师{% endblock %}

{% block content %}
    <h4 class="mui-name-title">潘健智
    <div class="title-line"></div>
    </h4>
    <div class="mui-card-content">
        <img src="{% static 'img/teacher/panjianzhi.jpg' %}" alt="" width="100%">
    </div>
    <h4 class="mui-name-title">简介
    <div class="title-line"></div></h4>
    <div class="mui-card-content">
        <div class="mui-card-content-inner">
            <p>潘健智，南京理工大学，理学院力学与工程科学系，讲师</p>
        </div>
    </div>
    <h4 class="mui-name-title">教育及工作经历
    <div class="title-line"></div></h4>
    <div class="mui-card-content">
        <div class="mui-card-content-inner">
            <p><font size="3">2008/09–2013/11，哈尔滨工业大学，航天学院航天工程与力学系，工学博士</font></p>
                 <p><font size="3">2004/09–2008/07，吉林大学，数学学院，理论与应用力学专业，理学学士</font></p>
                 <p><font size="3">2013/12–至今，南京理工大学，理学院力学与工程科学系，讲师</font></p>
                 <p><font size="3">2017.01-2019.12 主持江苏省自然科学基金青年项目</font></p>
        </div>
    </div>

    <div class="clear" style="height:10px;"></div>

{% endblock %}

