{% extends "mobile/base.html" %}
{% load staticfiles %}
{% block title %}谢玉树老师{% endblock %}

{% block content %}
    <h4 class="mui-name-title">谢玉树
    <div class="title-line"></div>
    </h4>
    <div class="mui-card-content">
        <img src="{% static 'img/teacher/xieyushu.jpg' %}" alt="" width="100%">
    </div>
    <h4 class="mui-name-title">简介
    <div class="title-line"></div></h4>
    <div class="mui-card-content">
        <div class="mui-card-content-inner">
            <p>谢玉树，副教授，硕士研究生导师，南京理工大学，理学院力学与工程科学系，讲师</p>
        </div>
    </div>
    <h4 class="mui-name-title">研究方向
    <div class="title-line"></div></h4>
    <div class="mui-card-content">
        <div class="mui-card-content-inner">
            <p><span style="font-size: medium;">（1）工程力学应用;</span></p>
                 <p><span style="font-size: medium;">（2）流固耦合分析;</span></p>
                 <p><span style="font-size: medium;">（3）热弹耦合分析</span></p>
        </div>
    </div>
    <h4 class="mui-name-title">教育及工作经历
    <div class="title-line"></div></h4>
    <div class="mui-card-content">
        <div class="mui-card-content-inner">
            <p><font size="3">2007年11月由国家留学基金委员会全额资助拟赴德国亚琛工业大学一般力学研究所作访问学者，为期一年。研究方向为传热过程，热弹耦合，流固耦合，瞬态力学</font></p>
        </div>
    </div>

    <div class="clear" style="height:10px;"></div>

{% endblock %}


