{% extends "mobile/base.html" %}
{% load staticfiles %}
{% block title %}郑健老师{% endblock %}

{% block content %}
    <h4 class="mui-name-title">郑健
    <div class="title-line"></div>
    </h4>
    <div class="mui-card-content">
        <img src="{% static 'img/no-img.jpg' %}" alt="" width="100%">
    </div>
    <h4 class="mui-name-title">简介
    <div class="title-line"></div></h4>
    <div class="mui-card-content">
        <div class="mui-card-content-inner">
            <p>郑健，南京理工大学，机械工程学系，副教授。</p>
        </div>
    </div>
    <h4 class="mui-name-title">主持或参加科研项目（课题）
    <div class="title-line"></div></h4>
    <div class="mui-card-content">
        <div class="mui-card-content-inner">
             <p><span style="font-size: medium;">（1）陆军预研项目，301070109、XXX火箭发动机技术、2016/01-2018/12、800万
元、已结题、为主参与
;</span></p>
                 <p><span style="font-size: medium;">（2）海军型号项目，1181011635、XXX火箭发动机设计、2017/01-2020/12，120万
元、在研，主持
</span></p>
        </div>
    </div>
    <h4 class="mui-name-title">教育及工作经历
    <div class="title-line"></div></h4>
    <div class="mui-card-content">
        <div class="mui-card-content-inner">
           <p><font size="3">2004/07-2009/04，南京理工大学，兵器发射理论与技术系，博士研究生，导师：周长省</font></p>
                 <p><font size="3">2002/09-2004/06，南京理工大学，机械电子工程系，硕士研究生，导师：王政时</font></p>
                 <p><font size="3">1997/09-2001/06，南京理工大学，机械设计及自动化系，大学学士</font></p>
                 <p><font size="3">2016/05-至今，南京理工大学，机械工程学院，副教授</font></p>
                 <p><font size="3">2009/10-2016/04，南京理工大学，机械工程学院，讲师</font></p>
        </div>
    </div>

     <h4 class="mui-name-title">代表性论文
    <div class="title-line"></div></h4>
    <div class="mui-card-content">
        <div class="mui-card-content-inner">
           <p><span style="font-size: medium;">1. Jia Deng，Zheng Jian*, Chen Xiong, Yu Jiaquan. Modeling the temperature dependent mode I fracture behavior of adhesively bonded joints. Journal of Adhesion, 2017, 93(6): 481-503</span></p>
                 <p><span style="font-size: medium;">2. Zheng Jian, Wang Wenqiang, Chen Xiong. Experimental research on aluminium-magnesium fuel-rich propellant under high strain rates. Materials Research Innovations, 2015, 1432(19): 245-250</span></p>

                 <p><span style="font-size: medium;">3. Zheng Jian, Chen Xiong, Jia Deng. Mechanical Behaviors Study of Epoxy Resins Reinforced with Nano-SiO2 Particles. Advances in Engineering Research, 2015, 10: 385-389</span></p>
                 <p><span style="font-size: medium;">4.  Zhang Junfa, Zheng Jian, Chen Xiong, Sun Chaoxiang, Xu Jinsheng. A Thermovisco-Hyperelastic Constitutive Model of NEPE Propellant Over a Large Range of Strain Rates. JOURNAL OF ENGINEERING MATERIALS AND TECHNOLOGY-TRANSACTIONS OF THE ASME, 2014, 136(3): 1-8</span></p>
                 <p><span style="font-size: medium;">5.郑健，汪文强，陈雄. 基于微观结构分析的CMDB推进剂动态断裂韧性加载率敏感性研究.推进技术,2015,36（6）：940~946</span></p>
                  <p><span style="font-size: medium;">6.郑健，余家泉，周长省. 基于内聚力模型的改性双基推进剂断裂特性研究.推进技术,2016,36（6）：940~946</span></p>
                 <p><span style="font-size: medium;">7. 郑健，赵超，周长省. 改性双基推进剂断裂能下限研究.推进技术,2016,37（11）：2181~2185</span></p>
                 <p><span style="font-size: medium;">8. 骞朋波，尹晓春，沈煜年. 碰撞激发弹塑性波传播的动态子结构方法. 2012 《力学学报》EI 44(1) 184-188</span></p>
                 <p><span style="font-size: medium;">9. 骞朋波，尹晓春，沈煜年.梁撞击弹塑性波传播的动态子结构方法的研究. 2012 《工程力学》EI 29(12) 377-384</span></p>

        </div>
    </div>

    <h4 class="mui-name-title">授权发明专利
    <div class="title-line"></div></h4>
    <div class="mui-card-content">
        <div class="mui-card-content-inner">
                 <p><span style="font-size: medium;">1. 郑健，××复合增程炮弹整流罩，2013.11.13，中国，ZL 201010048662.8</span></p>
                 <p><span style="font-size: medium;">2. 郑健，一种可防飞脱的火箭动力引信旋卸扳手，2018.6.12，中国，ZL201611261772.6</span></p>

        </div>
    </div>

    <h4 class="mui-name-title">学术奖励
    <div class="title-line"></div></h4>
    <div class="mui-card-content">
        <div class="mui-card-content-inner">

                 <p><span style="font-size: medium;">1. 郑健（3/7），XXX试验台组建，总装备部，军队科技进步奖，三等奖，2012</span></p>
                 <p><span style="font-size: medium;">4. 郑健（2/10），XXX安全性瓶颈技术，工信部，国防科技进步奖，二等奖</span></p>
        </div>
    </div>

    <div class="clear" style="height:10px;"></div>

{% endblock %}


