{% extends "base.html" %}
{% load staticfiles %}


{% block title %}研究生{% endblock %}
{% block styles %}
    <link href="{% static 'css/ziye.css' %}" rel="stylesheet" />
{% endblock %}

{% block content %}
    <div style="clear:both;margin:0 auto;width:1200px;height:10px;background:white;"></div>
<table style="margin:0 auto;width:1200px;background:white;">
    <tr>
        <td width="10"></td>
        <td width="180" height="400" valign="top" style="background:#f2f2f2;">
            <div class="leftclassname">实验室成员</div>
            <div class="leftsubclass">
                <ul>
                    <li class=""><a href="teacher" style="text-decoration: none"><div class="b1">&gt;</div><div class="b2">o</div> 教师</a></li>
                    <li class=""><a href="assistant" style="text-decoration: none"><div class="b1">&gt;</div><div class="b2">o</div> 研究助理</a></li>
                    <li class=""><a href="postgraduate" style="text-decoration: none"><div class="b1">&gt;</div><div class="b2">o</div> 研究生</a></li>
                    <li class=""><a href="undergraduate" style="text-decoration: none"><div class="b1">&gt;</div><div class="b2">o</div> 本科生</a></li>
                    <li class=""><a href="RIMLer" style="text-decoration: none"><div class="b1">&gt;</div><div class="b2">o</div> RIMLer</a></li>
                </ul>
            </div>
        </td>
        <td width="10"></td>
        <td valign="top">
            <div class="location">
                <i class="location_mark"></i>
                <div>
                    <b>当前位置：</b>
                    <a href="/" style="text-decoration: none">首页</a>&nbsp;>&nbsp;<a href="member" style="text-decoration: none">实验室成员</a>&nbsp;>&nbsp;<a href="teacher" style="text-decoration: none">教师</a>>&nbsp;<a href="" style="text-decoration: none">沈煜年</a>

                </div>
            </div>
            <div class="clear" style="height:10px;"></div>
            <div class="clear" style="border-bottom:1px solid #cccccc;"></div>
            <div style="padding:0 20px;height:70px;line-height:70px;font-size:24px;color:#c50000;">沈煜年               </div>
            <ul class="chengyuan">
                <li>
                    <div class="pic"><a href=""><img src="{% static 'img/teacher/沈.jpg' %}" width="162" height="212"></a></div>
                </li>

            </ul>
             <div>
                 <div class="clear" style="height:10px;"></div>

                 <p><strong style="color: rgb(0, 0, 255); font-family: Georgia, 'Microsoft YaHei'; font-size: medium; line-height: 21px; margin: 0px; padding: 0px;">研究方向</strong></p>
                 <p><span style="font-size: medium;">（1）接触-碰撞力学中的摩擦效应;</span></p>
                 <p><span style="font-size: medium;">（2）压电智能结构中接触-碰撞响应;</span></p>
                 <p><span style="font-size: medium;">（3）粒子间碰撞生电及散体动力学；</span></p>
                 <p><span style="font-size: medium;">（4）柔性运机构计算力学.</span></p>

                 <p>&nbsp;</p>
                 <p><span style="margin: 0px; padding: 0px; color: rgb(0, 0, 255);"><span style="margin: 0px; padding: 0px; font-size: medium;"><strong style="margin: 0px; padding: 0px;">教育及工作经历</strong></span></span></p>
                 <p><font size="3">大学	南京理工大学	工程力学	2000.09-2004.07</font></p>
                 <p><font size="3">硕博连读研究生	南京理工大学	工程力学	2004.09-2010.07</font></p>
                 <p><font size="3">2013年	英国剑桥大学 工程系	访问学者</font></p>
                 <p><font size="3">2012年	德国亚琛工业大学 IAM	访问学者</font></p>
                 <p><font size="3">2009年-2010年 英国剑桥大学 工程系	访问学者</font></p>

                 <p>&nbsp;</p>
                 <p><strong style="color: rgb(0, 0, 255); font-family: Georgia, 'Microsoft YaHei'; font-size: medium; line-height: 21px; margin: 0px; padding: 0px;">代表性论文</strong></p>
                 <p><span style="font-size: medium;">1. Yunian Shen. Painlevé paradox and dynamic jam of a three-dimensional elastic rod. 2015	《Archive of Applied Mechanics》 SCI 85	805-816</span></p>
                 <p><span style="font-size: medium;">2. Yunian Shen, Yanbing Zheng. Full transient modelling for piezoelectric actuator with contact-impact. 2014	《2014 Symposium on Piezoelectricity, Acoustic Waves, and Device Applications》EI	1	98-101</span></p>

                 <p><span style="font-size: medium;">3. Yunian Shen, Xiaochun Yin. Dynamic substructure analysis of stress waves generated by impacts on non-uniform rod structures. 《Mechanism and Machine Theory》 74	154-172</span></p>
                 <p><span style="font-size: medium;">4. Yunian Shen, W.J. Stronge. Painlevé paradox during oblique impact with friction. 2011	《European Journal of Mehcanics A/Solid》 30(4)	457-467 SCI</span></p>

         <div class="contentpage"></div>
            </div>
            <div class="clear" style="height:20px;"></div>
        </td>
    </tr>
 </table>



             </div>
            <div class="clear" style="height:10px;"></div>
            <div class="clear" style="border-bottom:1px solid #cccccc;"></div>
            <div class="clear" style="height:20px;"></div>
        </td>
    </tr>
 </table>
<div class="clear"></div>
{% endblock %}
{% block scripts %}
{% endblock %}

