{% extends "base.html" %}
{% load staticfiles %}


{% block title %}教师{% endblock %}
{% block styles %}
    <link href="{% static 'css/ziye.css' %}" rel="stylesheet" />
{% endblock %}
{% block content %}
    <div style="clear:both;margin:0 auto;width:1200px;height:10px;background:white;"></div>
<table style="margin:0 auto;width:1200px;background:white;">
    <tr>
        <td width="10"></td>
        <td width="180" height="400" valign="top" style="background:#f2f2f2;">
            <div class="leftclassname">实验室成员</div>
            <div class="leftsubclass">
                <ul>
                    <li class="active"><a href="teacher" style="text-decoration: none;font-size: 13px" ><div class="b1">&gt;</div><div class="b2" >o</div> 教师</a></li>
                    <li class=""><a href="dc" style="text-decoration: none;font-size: 13px"><div class="b1">&gt;</div><div class="b2">o</div> 博士研究生</a></li>
                    <li class=""><a href="postgraduate" style="text-decoration: none;font-size: 13px"><div class="b1">&gt;</div><div class="b2">o</div> 在读硕士研究生</a></li>
                    <li class=""><a href="undergraduate" style="text-decoration: none;font-size: 13px"><div class="b1">&gt;</div><div class="b2">o</div> 本科生</a></li>
                    <li class=""><a href="yilikai" style="text-decoration: none;font-size: 13px"><div class="b1">&gt;</div><div class="b2">o</div> 已离开硕士生</a></li>
                    <li class=""><a href="RIMLer" style="text-decoration: none;font-size: 13px"><div class="b1">&gt;</div><div class="b2">o</div> RIMLer</a></li>
                </ul>
            </div>
        </td>
        <td width="10"></td>
        <td valign="top">
            <div class="location">
                <i class="location_mark"></i>
                <div>
                    <b>当前位置：</b>
                    <a href="/" style="text-decoration: none">首页</a>&nbsp;>&nbsp;<a href="member" style="text-decoration: none">实验室成员</a>&nbsp;>&nbsp;<a href="../postgraduate" style="text-decoration: none">教师</a>

                </div>
            </div>
            <div class="clear" style="height:10px;"></div>
            <div class="clear" style="border-bottom:1px solid #cccccc;"></div>
            <div style="padding:0 20px;height:70px;line-height:70px;font-size:24px;color:#c50000;">教师                            </div>
            <ul class="chengyuan">
                <li>
                    <div class="pic"><a href="mrshen"><img src="{% static 'img/teacher/沈.jpg' %}" width="162" height="212"></a></div>
                    <div class="title" style="border-bottom-width:0;">沈煜年</div>
                </li>
            <div class="clear" style="height:10px;"></div>
            <div class="clear" style="border-bottom:1px solid #cccccc;"></div>
            <div class="clear" style="height:20px;"></div>
        </td>
    </tr>
 </table>
<div class="clear"></div>
{% endblock %}
{% block scripts %}
{% endblock %}