{% extends "mobile/base.html" %}
{% load staticfiles %}
{% block title %}物理与实验科技作品创新竞赛{% endblock %}

{% block content %}
    <h4 class="mui-lab-title">物理与实验科技作品创新竞赛</h4>
    <div class="mui-card-content">
        <img src="{% static 'img/slider1/5.jpg' %}" alt="" width="100%">
    </div>
    <div class="mui-card-content">
        <div class="mui-card-content-inner">
            <p style="color: #333;">祝贺！</p>
        </div>
    </div>


<div class="clear"></div>
{% endblock %}
{% block scripts %}
{% endblock %}

