{% extends "mobile/base.html" %}
{% load staticfiles %}
{% block title %}祝贺李延泽、唐家栋活动院长奖章{% endblock %}

{% block content %}
    <h4 class="mui-lab-title">祝贺李延泽、唐家栋活动院长奖章</h4>
    <div class="mui-card-content">
        <img src="{% static 'img/news/d12281.jpg' %}" alt="" width="100%">
    <img src="{% static 'img/news/d12282.jpg' %}" alt="" width="100%">
    <img src="{% static 'img/news/d12283.jpg' %}" alt="" width="100%">
    </div>
    <div class="mui-card-content">
        <div class="mui-card-content-inner">
            <p style="color: #333;">祝贺所带2科研训练学生2014级班长李延泽和所带本科2015级工力一班班长唐佳栋双双获得陆院长颁发的院长奖章。
                      为你们取得的优异成绩点赞！继续努力，取得更大成绩，获得更大辉煌！</p>
        </div>
    </div>


<div class="clear"></div>
{% endblock %}
{% block scripts %}
{% endblock %}

