{% extends "mobile/base.html" %}
{% load staticfiles %}
{% block title %}祝贺匡也同学参加澳门召开的IEEE机器人国际会议{% endblock %}

{% block content %}
    <h4 class="mui-lab-title">祝贺匡也同学参加澳门召开的IEEE机器人国际会议</h4>
    <div class="mui-card-content">
        <img src="{% static 'img/news/d1220.jpg' %}" alt="" width="100%">
    </div>
    <div class="mui-card-content">
        <div class="mui-card-content-inner">
            <p style="color: #333;">祝贺本课题组匡也同学获得学校研究生院资助参加澳门召开的IEEE机器人国际会议，并在三百人的报告厅作口头报告，
                      经受了锻炼，祝贺你们的点滴进步，再接再厉！</p>
        </div>
    </div>


<div class="clear"></div>
{% endblock %}
{% block scripts %}
{% endblock %}

