{% extends "mobile/base.html" %}
{% load staticfiles %}
{% block title %}实验室成员张赛参加国际会议{% endblock %}

{% block content %}
    <h4 class="mui-lab-title">实验室成员张赛参加国际会议</h4>
    <div class="mui-card-content">
        <img src="{% static 'img/news/d20191231-1.jpg' %}" alt="" width="100%">
    </div>
    <div class="mui-card-content">
        <div class="mui-card-content-inner">
            <p style="color: #333;">南京理工大学理学院力学与工程科学系固体力学专业2017级研究生张赛，于2018年末申请了2019年第一批校助国际会议，
                      并于申请时完成了会议论文的初稿撰写，经院系和学校的通过，成功申请到了校助资格，
                      参加由美国机械工程师协会(ASME)举办的A类会议2019年度国际机械工程大会暨博览会(IMECE)。</p>
        </div>
    </div>
    <div class="mui-card-content">
        <img src="{% static 'img/news/d20191231-2.jpg' %}" alt="" width="100%">
    </div>
    <div class="mui-card-content">
        <div class="mui-card-content-inner">
            <p style="color: #333;">会议于2019年11月8-14日在美国犹他州盐湖城举行。国际机械工程大会暨博览会（IMECE）是ASME最大的研究与开发会议，主要关注机械工程，但涵盖了许多工程学科的观点。</p>
        </div>
    </div>
    <div class="mui-card-content">
        <img src="{% static 'img/news/d20191231-3.jpg' %}" alt="" width="100%">
    </div>
    <div class="mui-card-content">
        <div class="mui-card-content-inner">
            <p style="color: #333;">通过这次学校资助参加大型国际学术会议的机会，与国内外的学者们进行了一些交流，了解到了机械工程领域的许多新奇、有趣的进展，极大拓宽了自己的眼界，拓宽了科研思路</p>
        </div>
    </div>


<div class="clear"></div>
{% endblock %}
{% block scripts %}
{% endblock %}

