{% extends "mobile/base.html" %}
{% load staticfiles %}
{% block title %}杨炯灿会议证明{% endblock %}

{% block content %}
    <h4 class="mui-lab-title">杨炯灿会议证明</h4>
    <div class="mui-card-content">
        <img src="{% static 'img/slider1/2.jpg' %}" alt="" width="100%">
    </div>
    <div class="mui-card-content">
        <div class="mui-card-content-inner">
            <p >祝贺杨炯灿参加多体系统动力学会议！</p>
        </div>
    </div>


<div class="clear"></div>
{% endblock %}
{% block scripts %}
{% endblock %}

