{% extends "mobile/base.html" %}
{% load staticfiles %}
{% block title %}“晋拓杯”江苏省大学生机械创新设计大赛{% endblock %}

{% block content %}
    <h4 class="mui-lab-title">“晋拓杯”江苏省大学生机械创新设计大赛</h4>
    <div class="mui-card-content">
        <img src="{% static 'img/slider1/6.jpg' %}" alt="" width="100%">
    </div>
    <div class="mui-card-content">
        <div class="mui-card-content-inner">
            <p >祝贺！</p>
        </div>
    </div>


<div class="clear"></div>
{% endblock %}
{% block scripts %}
{% endblock %}

