{% extends "mobile/base.html" %}
{% load staticfiles %}
{% block title %}智慧城市技术与创意设计大赛中取得佳绩{% endblock %}

{% block content %}
    <h4 class="mui-lab-title">智慧城市技术与创意设计大赛中取得佳绩</h4>
    <div class="mui-card-content">
        <img src="{% static 'img/slider1/1.jpg' %}" alt="" width="100%">
    </div>
    <div class="mui-card-content">
        <div class="mui-card-content-inner">
            <p>学院：理学院</p>
                 <p>参赛学生：周锦程</p>
                 <p>指导老师：沈煜年</p>
        </div>
    </div>


<div class="clear"></div>
{% endblock %}
{% block scripts %}
{% endblock %}

