{% extends "more/more_base.html" %}
{% load staticfiles %}
{% block title %}
    新闻动态
{% endblock %}

{% block more_styles %}

    <style>
        .ui-project p {
            margin-top: 10px;
            margin-bottom: 0px;
            padding: 0px 0px 0.5em;
            line-height: 1.75;
            color: rgb(98, 98, 98);
            white-space: normal;
            font-size: medium !important;
            word-wrap: break-word;
            text-align: justify;
            padding-bottom: 0;
            text-indent: 2em;
        }
    .list-item{
        border-bottom: 1px dashed #ccc;
    }
    a{
        text-decoration: none;
    }
    </style>

{% endblock %}
{% block cur_position %}
    <div>
        <b>当前位置：</b>
        <a href="/" style="text-decoration: none">首页</a>&nbsp;>&nbsp;<a href="/more"
                                                                        style="text-decoration: none">新闻动态</a>
    </div>
{% endblock %}
{% block more_content %}


    <div id="content" style="margin-left:0px;">
    <div id="wsite-content" class="wsite-elements wsite-not-footer">

        <div class="ui-se-title">新闻动态</div>

        <div class="clear" style="border-bottom:1px solid #cccccc;"></div>


        <div class="ui-project ui-paper">
            <ul>
                <li class="list-item">
                    <h3><a href="/news/d416" >实验室成员张赛参加国际会议</a></h3>
                    <p>发布时间：2019年12月09日</p>
                    <p>南京理工大学理学院力学与工程科学系固体力学专业2017级研究生张赛，于2018年末申请了2019年第一批校助国际会议，并于申请时完成了会议论文的初稿撰写，经院系和学校的通过，成功申请到了校助资格...</p>

                </li>
                <li class="list-item">
                    <h3><a href="/news/d416" >祝贺2015级硕士顺利毕业!</a></h3>
                    <p>发布时间：2018年4月16日</p>
                    <p>祝贺RIMLab的2015级硕士顺利毕业，感谢为实验室初创作出的无怨奉献！愿你们以实验室，理学院和南理工为起点，在充满机遇、挑战和困难的社会大舞台， 始终以齐家治国平天下为最终目标...</p>

                </li>

                <li class="list-item">
                    <h3><a href="/news/d1228">祝贺李延泽、唐家栋获得院长奖章!</a></h3>
                    <p>发布时间：2017年12月28日</p>
                    <p>祝贺所带2科研训练学生2014级班长李延泽和所带本科2015级工力一班班长唐佳栋双双获得陆院长颁发的院长奖章。 为你们取得的优异成绩点赞！继续努力，取得更大成绩，获得更大辉煌...</p>
                </li>

                <li class="list-item">
                    <h3><a href="/news/d1220">祝贺匡也同学参加澳门召开的IEEE机器人国际会议!</a></h3>

                    <p>发布时间：2017年12月20日</p>
                    <p>祝贺本课题组匡也同学获得学校研究生院资助参加澳门召开的IEEE机器人国际会议，并在三百人的报告厅作口头报告， 经受了锻炼，祝贺你们的点滴进步，再接再厉...</p>
                </li>
            </ul>

        </div>
    </div>
    </div>



{% endblock %}
{% block more_scripts %}
    <script>
        $(".more").addClass("nav-active")

    </script>


{% endblock %}


