{% extends "mobile/base.html" %}
{% load staticfiles %}
{% block title %}研究生{% endblock %}

{% block content %}
    <h4 class="mui-name-title">abdulazeez
    <div class="title-line"></div>
    </h4>
    <div class="mui-card-content">
        <img src="{% static 'img/postgraduate/abdulazeez-min.jpg ' %}" alt="" width="100%">
    </div>
    <h4 class="mui-name-title">自我评价
    <div class="title-line"></div></h4>
    <div class="mui-card-content">
        <div class="mui-card-content-inner">
            <p>I am a passionate, organized and dedicated graduate of science education, with outstanding pedagogical, professional and administrative skills, desired to build a career with a results-oriented organization in an environment that encourages innovative and creative thinking where my skills,
                     training and other competencies can be harnessed to enable the organization advance efficiently and productively.</p>
        </div>
    </div>

    <div class="clear" style="height:10px;"></div>

{% endblock %}
