{% extends "mobile/base.html" %}
{% load staticfiles %}
{% block title %}研究生{% endblock %}

{% block content %}
    <h4 class="mui-name-title">丁伟
    <div class="title-line"></div>
    </h4>
    <div class="mui-card-content">
        <img src="{% static 'img/postgraduate/dingwei.jpg' %}" alt="" width="100%">
    </div>
    <h4 class="mui-name-title">自我评价
    <div class="title-line"></div></h4>
    <div class="mui-card-content">
        <div class="mui-card-content-inner">
            <p>我是一个自信而坚韧的人，喜欢阅读和看电影。在二十年的学习生活中，我认为学习最重要的是独立思考，自己认真思考的结果哪怕被验证是错的，对自己来说也会有很大的提高。</p>
        </div>
    </div>
    <h4 class="mui-name-title">个人箴言
    <div class="title-line"></div></h4>
    <div class="mui-card-content">
        <div class="mui-card-content-inner">
            <p>博观而约取，厚积而薄发</p>
        </div>
    </div>
    <h4 class="mui-name-title">个人简历
    <div class="title-line"></div></h4>
    <div class="mui-card-content">
        <div class="mui-card-content-inner">
            <p>1992年3月 出生于陕西西安</p>
            <p>2011年9月 进入南京理工大学理学院工程力学系</p>
            <p>2015年9月 考上南理工理学院工程力学系研究生</p>
        </div>
    </div>
    <h4 class="mui-name-title">研究成果
    <div class="title-line"></div></h4>
    <div class="mui-card-content">
        <div class="mui-card-content-inner">
            <p> <strong>Wei Ding</strong>, Yunian Shen, Analysis of transient deformation response for flexible robotic manipulator using assumed mode method, ACIRS 2017, S65
                 </p>
        </div>
    </div>
    <h4 class="mui-name-title">联系方式
    <div class="title-line"></div></h4>
    <div class="mui-card-content">
        <div class="mui-card-content-inner">
            <p>wuweidemo@163.com</p>

        </div>
    </div>

    <div class="clear" style="height:10px;"></div>

{% endblock %}




