{% extends "mobile/base.html" %}
{% load staticfiles %}
{% block title %}研究生{% endblock %}

{% block content %}
    <h4 class="mui-name-title">金春雷
    <div class="title-line"></div>
    </h4>
    <div class="mui-card-content">
        <img src="{% static 'img/postgraduate/jinchunlei-min.jpg' %}" alt="" width="100%">
    </div>
    <h4 class="mui-name-title">自我评价
    <div class="title-line"></div></h4>
    <div class="mui-card-content">
        <div class="mui-card-content-inner">
            <p>籍贯浙江东阳，就读南京理工大学固体力学专业硕士。本人性格开朗、稳重、有活力，待人热情、真诚。具有较强的适应能力，纪律性强，工作积极配合。
                     我平时喜欢跑步，因为它能够磨砺我的意志，我是一个活泼开朗、热情、执着、有坚强意志的人。</p>
        </div>
    </div>
{% endblock %}