{% extends "mobile/base.html" %}
{% load staticfiles %}
{% block title %}研究生{% endblock %}

{% block content %}
    <h4 class="mui-name-title">匡也
    <div class="title-line"></div>
    </h4>
    <div class="mui-card-content">
        <img src="{% static 'img/postgraduate/kuangye.jpg' %}" alt="" width="100%">
    </div>
    <h4 class="mui-name-title">自我评价
    <div class="title-line"></div></h4>
    <div class="mui-card-content">
        <div class="mui-card-content-inner">
            <p>我是一个慢热的人，喜欢一个人的思考。在二十年的学习生活中，我认为目标是一个重要的事情，适度的思考、远望能帮助自己确立目标。同时慢热的性格培养了自己的平常心。学习生活中的坎坷如此的多，总归还是要一步一步往前前行的。</p>
        </div>
    </div>
    <h4 class="mui-name-title">个人箴言
    <div class="title-line"></div></h4>
    <div class="mui-card-content">
        <div class="mui-card-content-inner">
            <p>心怀坦荡，兰心傲骨</p>
        </div>
    </div>
    <h4 class="mui-name-title">个人简历
    <div class="title-line"></div></h4>
    <div class="mui-card-content">
        <div class="mui-card-content-inner">
             <p>1993年8月 出生于吉林长春</p>
            <p>2012年9月 进入东南大学土木工程学院就读工程力学专业</p>
            <p>2016年9月 进入南京理工大学理学院就读一般力学与力学基础专业</p>
        </div>
    </div>
    <h4 class="mui-name-title">研究成果
    <div class="title-line"></div></h4>
    <div class="mui-card-content">
        <div class="mui-card-content-inner">
            <p><strong>Kuang Y</strong>, Shen Y N, Wang W, Zhang S. Painlevé paradox during passive dynamic walking of biped
            robots[C]. 2017 IEEE International Conference on Robotics and Biomimetics, Macau SAR, China, 2017:
            1258-1263</p>
        </div>
    </div>
    <h4 class="mui-name-title">联系方式
    <div class="title-line"></div></h4>
    <div class="mui-card-content">
        <div class="mui-card-content-inner">
            <p>kuangyecn@foxmail.com</p>

        </div>
    </div>

    <div class="clear" style="height:10px;"></div>

{% endblock %}

