{% extends "mobile/base.html" %}
{% load staticfiles %}
{% block title %}研究生{% endblock %}

{% block content %}
    <h4 class="mui-name-title">李庸
    <div class="title-line"></div>
    </h4>
    <div class="mui-card-content">
        <img src="{% static 'img/postgraduate/liyong-min.jpg ' %}" alt="" width="100%">
    </div>
    <h4 class="mui-name-title">自我评价
    <div class="title-line"></div></h4>
    <div class="mui-card-content">
        <div class="mui-card-content-inner">
            <p>性格乐观，谦和自信，勤奋好学，善于思辨，工作认真细致，积极上进，虚心与人交流，具有挑战精神，热爱运动。</p>
        </div>
    </div>
{% endblock %}