{% extends "mobile/base.html" %}
{% load staticfiles %}
{% block title %}研究生{% endblock %}

{% block content %}
    <h4 class="mui-name-title">孙泓
    <div class="title-line"></div>
    </h4>
    <div class="mui-card-content">
        <img src="{% static 'img/postgraduate/sunhong-min.jpg' %}" alt="" width="100%">
    </div>
    <h4 class="mui-name-title">自我评价
    <div class="title-line"></div></h4>
    <div class="mui-card-content">
        <div class="mui-card-content-inner">
            <p>踏实做事诚实做人是我一直坚持的准则。坚信一分耕耘一分收获，通向未来的路是靠自己一步一步脚踏实地地踩出来的。2016年成功加入实验室以来，一直致力于含裂纹炸药的动力学研究，在老师与同窗的帮助下一直稳步前进，希望未来能更进一步。</p>
        </div>
    </div>
    <h4 class="mui-name-title">个人箴言
    <div class="title-line"></div></h4>
    <div class="mui-card-content">
        <div class="mui-card-content-inner">
            <p>凡事预则立，不预则废。</p>
        </div>
    </div>
    <h4 class="mui-name-title">个人简历
    <div class="title-line"></div></h4>
    <div class="mui-card-content">
        <div class="mui-card-content-inner">
            <p>1994年出生于湖北省嘉鱼县</p>
            <p>2012年进入南京理工大学求学</p>
            <p>2016年考入南京理工大学研究生院</p>
        </div>
    </div>
    <h4 class="mui-name-title">个人爱好
    <div class="title-line"></div></h4>
    <div class="mui-card-content">
        <div class="mui-card-content-inner">
            <p>玩游戏，看书</p>
        </div>
    </div>
    <h4 class="mui-name-title">联系方式
    <div class="title-line"></div></h4>
    <div class="mui-card-content">
        <div class="mui-card-content-inner">
            <p>1661272978@qq.com</p>

        </div>
    </div>

    <div class="clear" style="height:10px;"></div>

{% endblock %}


