{% extends "mobile/base.html" %}
{% load staticfiles %}
{% block title %}研究生{% endblock %}

{% block content %}
    <h4 class="mui-name-title">王伟
    <div class="title-line"></div>
    </h4>
    <div class="mui-card-content">
        <img src="{% static 'img/postgraduate/wangwei.jpg' %}" alt="" width="100%">
    </div>
    <h4 class="mui-name-title">自我评价
    <div class="title-line"></div></h4>
    <div class="mui-card-content">
        <div class="mui-card-content-inner">
            <p>平时喜欢看书，兴趣广泛，喜欢安静的环境，我认为勇于探索，冷静思考是科研人员必备的品质</p>
        </div>
    </div>

    <h4 class="mui-name-title">个人简历
    <div class="title-line"></div></h4>
    <div class="mui-card-content">
        <div class="mui-card-content-inner">
             <p>1993年2月   出生于重庆市云阳县</p>
            <p>2011年5月   南京理工大学理学院工程力学</p>
            <p>2015年9月   南京理工大学理学院工程力学系研究生</p>
        </div>
    </div>
    <h4 class="mui-name-title">主要工作
    <div class="title-line"></div></h4>
    <div class="mui-card-content">
        <div class="mui-card-content-inner">
            <p>研究课题主要为双连杆Painlevé paradox的模拟仿真，以及相关理论研究。</p>

        </div>
    </div>
    <h4 class="mui-name-title">研究成果
    <div class="title-line"></div></h4>
    <div class="mui-card-content">
        <div class="mui-card-content-inner">
            <p><strong>Wang W</strong>, Shen Y N, Zhao Y H. Transient dynamic computation of frictional contact-impact of flexible robotic two-link manipulator[C]. 6th World Tribology Congress. Beijing, China, 2017</p>
            <p>Kuang Y, Shen Y N, <strong>Wang W</strong>, Zhang S. Painlevé paradox during passive dynamic walking of biped robots[C]. 2017 IEEE International Conference on Robotics and Biomimetics, Macau SAR, China, 2017: 1258-1263</p>
            <p>Zhao Y H, Shen Y N, Ding W, <strong>Wang W</strong>. Experimental investigation of oblique collision for robotic two-link manipulator with friction[C]. 6th World Tribology Congress. Beijing, China, 2017</p>
            <p>赵宇航，<strong>王伟</strong>. 用于双连杆斜碰撞的实验装置及其实验方法[P] 专利申请号：201710638561.8</p>
            <p>沈煜年, <strong>王伟</strong>. 柔性机器人机械臂接触碰撞的多刚体-有限元混合分析方法[P] 专利申请号：201810076053.X</p>
        </div>
    </div>
    <h4 class="mui-name-title">联系方式
    <div class="title-line"></div></h4>
    <div class="mui-card-content">
        <div class="mui-card-content-inner">
            <p>983838004@qq.com</p>

        </div>
    </div>

    <div class="clear" style="height:10px;"></div>

{% endblock %}

