{% extends "mobile/base.html" %}
{% load staticfiles %}
{% block title %}研究生{% endblock %}

{% block content %}
    <h4 class="mui-name-title">杨炯灿
    <div class="title-line"></div>
    </h4>
    <div class="mui-card-content">
        <img src="{% static 'img/postgraduate/yangjiongchan.jpg' %}" alt="" width="100%">
    </div>
    <h4 class="mui-name-title">自我评价
    <div class="title-line"></div></h4>
    <div class="mui-card-content">
        <div class="mui-card-content-inner">
            <p>我是一个严肃谨慎的人，深信实践是检验真理的唯一标准。2016年，我成功加入了机器人科学与智能机器实验室，并致力于研究机器人的手指系统，希望通过此科研能加强我的交流与创新能力。</p>
        </div>
    </div>
    <h4 class="mui-name-title">个人箴言
    <div class="title-line"></div></h4>
    <div class="mui-card-content">
        <div class="mui-card-content-inner">
            <p>纸上得来终觉浅，绝知此事要躬行。</p>
        </div>
    </div>
    <h4 class="mui-name-title">个人简历
    <div class="title-line"></div></h4>
    <div class="mui-card-content">
        <div class="mui-card-content-inner">
            <p>1993年  出生于浙江省绍兴市诸暨</p>
            <p>2012年  进入于宁波大学</p>
            <p>2016年  考研成功并进入南京理工大学</p>
        </div>
    </div>
    <h4 class="mui-name-title">个人爱好
    <div class="title-line"></div></h4>
    <div class="mui-card-content">
        <div class="mui-card-content-inner">
            <p>看小说，打乒乓球</p>
        </div>
    </div>
    <h4 class="mui-name-title">联系方式
    <div class="title-line"></div></h4>
    <div class="mui-card-content">
        <div class="mui-card-content-inner">
            <p>1191104464@qq.com</p>

        </div>
    </div>

    <div class="clear" style="height:10px;"></div>

{% endblock %}

