{% extends "mobile/base.html" %}
{% load staticfiles %}
{% block title %}研究生{% endblock %}

{% block content %}
    <h4 class="mui-name-title">张灏
    <div class="title-line"></div>
    </h4>
    <div class="mui-card-content">
        <img src="{% static 'img/postgraduate/zhanghao.jpg' %}" alt="" width="100%">
    </div>
    <h4 class="mui-name-title">自我评价
    <div class="title-line"></div></h4>
    <div class="mui-card-content">
        <div class="mui-card-content-inner">
            <p>通过研究生阶段的学习，我对钢结构动力学问题有了一定了研究。尤其是对于空间复杂的钢结构模型的建立，模型的离散有深入的学习和研究。目前的研究方向是，钢结构模型的自动化动力学计算。</p>
        </div>
    </div>

    <h4 class="mui-name-title">个人简历
    <div class="title-line"></div></h4>
    <div class="mui-card-content">
        <div class="mui-card-content-inner">
           <p>1992年3月出生于山西省长治市</p>
            <p>2011年9月考入南京理工大学工程力学系</p>
            <p>2015年9月考入南京理工大学固体力学系研究生</p>
            <p>2017年4月参加机械工程与控制自动化国际学术会议2017(ICMECA2017)</p>
        </div>
    </div>
    <h4 class="mui-name-title">研究成果
    <div class="title-line"></div></h4>
    <div class="mui-card-content">
        <div class="mui-card-content-inner">
            <p>发表论文《Vibration behavior analysis for simply supported beam under multiple moving vibrating systems》</p>
        </div>
    </div>
    <h4 class="mui-name-title">联系方式
    <div class="title-line"></div></h4>
    <div class="mui-card-content">
        <div class="mui-card-content-inner">
            <p>15952022034</p>

        </div>
    </div>

    <div class="clear" style="height:10px;"></div>

{% endblock %}

