{% extends "mobile/base.html" %}
{% load staticfiles %}
{% block title %}研究生{% endblock %}

{% block content %}
    <h4 class="mui-name-title">张新翼
    <div class="title-line"></div>
    </h4>
    <div class="mui-card-content">
        <img src="{% static 'img/postgraduate/zhangxinyi.jpg' %}" alt="" width="100%">
    </div>

    <h4 class="mui-name-title">自我评价
    <div class="title-line"></div></h4>
    <div class="mui-card-content">
        <div class="mui-card-content-inner">
            <p>热爱力学，幽默而不失稳重，让身边的人感到舒适。</p>
        </div>
    </div>
    <h4 class="mui-name-title">个人箴言
    <div class="title-line"></div></h4>
    <div class="mui-card-content">
        <div class="mui-card-content-inner">
            <p>每天叫醒你起床的不是闹钟，是梦想</p>

        </div>
    </div>
    <h4 class="mui-name-title">个人简历
    <div class="title-line"></div></h4>
    <div class="mui-card-content">
        <div class="mui-card-content-inner">
           <p>1997年出生于江苏省扬州市</p>
            <p>2015年进入江苏大学求学</p>
            <p>2019年考入南京理工大学研究生院</p>
        </div>
    </div>


{% endblock %}