{% extends "mobile/base.html" %}
{% load staticfiles %}
{% block title %}研究生{% endblock %}

{% block content %}
    <h4 class="mui-name-title">张赛
    <div class="title-line"></div>
    </h4>
    <div class="mui-card-content">
        <img src="{% static 'img/postgraduate/zhangsai-min.jpg' %}" alt="" width="100%">
    </div>
    <h4 class="mui-name-title">自我评价
    <div class="title-line"></div></h4>
    <div class="mui-card-content">
        <div class="mui-card-content-inner">
            <p>个人性格外向，在日常的生活学习中积极与人沟通交流，合作解决问题能力强。具有创造性思维和创新意识，学习努力认真。</p>
        </div>
    </div>

    <h4 class="mui-name-title">个人箴言
    <div class="title-line"></div></h4>
    <div class="mui-card-content">
        <div class="mui-card-content-inner">
            <p>不忘初心，方得始终。</p>
        </div>
    </div>

    <h4 class="mui-name-title">个人简历
    <div class="title-line"></div></h4>
    <div class="mui-card-content">
        <div class="mui-card-content-inner">
           <p>1994年出生于陕西省安康市</p>
           <p>2013年进入南京理工大学求学</p>
           <p>2017年考入南京理工大学研究生院</p>
        </div>
    </div>
    <h4 class="mui-name-title">主要工作
    <div class="title-line"></div></h4>
    <div class="mui-card-content">
        <div class="mui-card-content-inner">
            <p>目前负责实验室的实验设计和实验部分，同时兼顾LS-DYNA仿真。</p>
        </div>
    </div>
    <h4 class="mui-name-title">个人爱好
    <div class="title-line"></div></h4>
    <div class="mui-card-content">
        <div class="mui-card-content-inner">
            <p>爱好摄影，常负责教研室外出活动的拍照。</p>
        </div>
    </div>

    <h4 class="mui-name-title">联系方式
    <div class="title-line"></div></h4>
    <div class="mui-card-content">
        <div class="mui-card-content-inner">
            <p>513571936@qq.com</p>

        </div>
    </div>

    <div class="clear" style="height:10px;"></div>

{% endblock %}


