{% extends "mobile/base.html" %}
{% load staticfiles %}
{% block title %}研究生{% endblock %}

{% block content %}
    <h4 class="mui-name-title">赵宇航
    <div class="title-line"></div>
    </h4>
    <div class="mui-card-content">
        <img src="{% static 'img/postgraduate/zhaoyuhang.jpg' %}" alt="" width="100%">
    </div>
    <h4 class="mui-name-title">自我评价
    <div class="title-line"></div></h4>
    <div class="mui-card-content">
        <div class="mui-card-content-inner">
            <p>我是赵宇航，本科研究生阶段都在南理工度过，熟悉的环境与师友可以很快投入研究生工作中，生活中我对很多事物比较有兴趣，喜欢看书上网开脑洞，周末爬爬山。</p>
        </div>
    </div>


    <h4 class="mui-name-title">个人简历
    <div class="title-line"></div></h4>
    <div class="mui-card-content">
        <div class="mui-card-content-inner">
           <p>1993年1月   出生于河南省辉县市</p>
            <p>2011年5月   南京理工大学理学院工程力学</p>
            <p>2015年9月   南京理工大学理学院工程力学系研究生</p>
        </div>
    </div>
    <h4 class="mui-name-title">主要工作
    <div class="title-line"></div></h4>
    <div class="mui-card-content">
        <div class="mui-card-content-inner">
            <p>研究课题主要为双连杆Painlevé paradox的实验装置的设计与实现，实验数据收集与分析，以及相关理论研究。</p>
        </div>
    </div>
    <h4 class="mui-name-title">研究成果
    <div class="title-line"></div></h4>
    <div class="mui-card-content">
        <div class="mui-card-content-inner">
            <p><strong>Zhao Y H</strong>, Shen Y N, Ding W, Wang W. Experimental investigation of oblique collision for robotic two-link manipulator with friction[C]. 6th World Tribology Congress. Beijing, China, 2017</p>
            <p>Wang W, Shen Y, <strong>Zhao Y H</strong>. Transient dynamic computation of frictional contact-impact of flexible robotic two-link manipulator[C]. 6th World Tribology Congress. Beijing, China, 2017</p>
            <p><strong>赵宇航</strong>，王伟. 用于双连杆斜碰撞的实验装置及其实验方法[P] 专利申请号：201710638561.8</p>
        </div>
    </div>

    <h4 class="mui-name-title">联系方式
    <div class="title-line"></div></h4>
    <div class="mui-card-content">
        <div class="mui-card-content-inner">
            <p>15195752597@163.com</p>

        </div>
    </div>

    <div class="clear" style="height:10px;"></div>

{% endblock %}


