{% extends "mobile/base.html" %}
{% load staticfiles %}
{% block title %}研究生{% endblock %}

{% block content %}
    <h4 class="mui-name-title">周怡
    <div class="title-line"></div>
    </h4>
    <div class="mui-card-content">
        <img src="{% static 'img/postgraduate/zhouyi-min.jpg' %}" alt="" width="100%">
    </div>
    <h4 class="mui-name-title">自我评价
    <div class="title-line"></div></h4>
    <div class="mui-card-content">
        <div class="mui-card-content-inner">
            <p>独立认真，勤于思辨。在研究生期间通过对学术研究的系统学习，建立了科学条理的学习思维。</p>
        </div>
    </div>
     <h4 class="mui-name-title">个人箴言
    <div class="title-line"></div></h4>
    <div class="mui-card-content">
        <div class="mui-card-content-inner">
            <p>认识你自己，凡事勿过度</p>
        </div>
    </div>

    <h4 class="mui-name-title">个人简历
    <div class="title-line"></div></h4>
    <div class="mui-card-content">
        <div class="mui-card-content-inner">
           <p>1995年10月出生于江苏省常州市</p>
        <p>2013年9月考入南京理工大学工程力学系</p>
        <p>2017年9月考入南京理工大学固体力学系研究生</p>
        </div>
    </div>
    <h4 class="mui-name-title">主要工作
    <div class="title-line"></div></h4>
    <div class="mui-card-content">
        <div class="mui-card-content-inner">
            <p>目前的研究方向是驱动蛋白在微管上行走的力学响应</p>
        </div>
    </div>

    <h4 class="mui-name-title">联系方式
    <div class="title-line"></div></h4>
    <div class="mui-card-content">
        <div class="mui-card-content-inner">
            <p>944969794@qq.com</p>

        </div>
    </div>

    <div class="clear" style="height:10px;"></div>

{% endblock %}




