{% extends "mobile/base.html" %}
{% load staticfiles %}
{% block title %}研究生{% endblock %}

{% block content %}
    <h4 class="mui-name-title">周锦程
    <div class="title-line"></div>
    </h4>
    <div class="mui-card-content">
        <img src="{% static 'img/postgraduate/zhoujincheng-min.jpg' %}" alt="" width="100%">
    </div>
    <h4 class="mui-name-title">自我评价
    <div class="title-line"></div></h4>
    <div class="mui-card-content">
        <div class="mui-card-content-inner">
            <p>乐观阳光的少年，乐于助人，团结同事，争做科研创新达人。</p>
        </div>
    </div>
     <h4 class="mui-name-title">个人箴言
    <div class="title-line"></div></h4>
    <div class="mui-card-content">
        <div class="mui-card-content-inner">
            <p>让自己变得更优秀</p>
        </div>
    </div>

    <h4 class="mui-name-title">个人简历
    <div class="title-line"></div></h4>
    <div class="mui-card-content">
        <div class="mui-card-content-inner">
           <p>1995年出生于浙江省余姚市</p>
        <p>2013年进入南京理工大学求学，获得双学位</p>
        <p>2017年考入南京理工大学研究生院</p>
        </div>
    </div>
    <h4 class="mui-name-title">主要工作
    <div class="title-line"></div></h4>
    <div class="mui-card-content">
        <div class="mui-card-content-inner">
            <p>从事爪刺式飞行爬壁机器人的研究</p>
        </div>
    </div>

    <h4 class="mui-name-title">联系方式
    <div class="title-line"></div></h4>
    <div class="mui-card-content">
        <div class="mui-card-content-inner">
            <p>515484158@qq.com</p>

        </div>
    </div>

    <div class="clear" style="height:10px;"></div>

{% endblock %}


