{% extends "mobile/base.html" %}
{% load staticfiles %}
{% block title %}研究生{% endblock %}

{% block content %}
    <h4 class="mui-name-title">朱杰
    <div class="title-line"></div>
    </h4>
    <div class="mui-card-content">
        <img src="{% static 'img/postgraduate/zhujie.jpg' %}" alt="" width="100%">
    </div>

    <h4 class="mui-name-title">自我评价
    <div class="title-line"></div></h4>
    <div class="mui-card-content">
        <div class="mui-card-content-inner">
            <p>积极向上，热爱运动，性格开朗，有良好的团队精神。</p>
        </div>
    </div>
    <h4 class="mui-name-title">个人箴言
    <div class="title-line"></div></h4>
    <div class="mui-card-content">
        <div class="mui-card-content-inner">
            <p>文明其精神，野蛮其体魄</p>

        </div>
    </div>
    <h4 class="mui-name-title">个人简历
    <div class="title-line"></div></h4>
    <div class="mui-card-content">
        <div class="mui-card-content-inner">
           <p>1996年8月出生于江苏省南京市</p>
            <p>2014年9考入安徽农业大学</p>
            <p>2019年9月考入南京理工大学研究生院</p>
        </div>
    </div>
    <h4 class="mui-name-title">主要工作
    <div class="title-line"></div></h4>
    <div class="mui-card-content">
        <div class="mui-card-content-inner">
           <p>利用ANSYS进行工程仿真</p>

        </div>
    </div>
    <h4 class="mui-name-title">联系方式
    <div class="title-line"></div></h4>
    <div class="mui-card-content">
        <div class="mui-card-content-inner">
            <p>1203886017@qq.com</p>

        </div>
    </div>

{% endblock %}