<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport"
          content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no"/>
    <meta name="format-detection" content="telephone=no"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="black"/>
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/daohang.css' %}" type="text/css"><!---->
    {% block styles %}{% endblock %}
</head>
<body>
<div class="daohang1">
    <a href="" target="_blank" style="position:absolute;width:1180px;text-align:right;padding:10px;">English</a>
    <div style="float:left;margin-top:0px"><a href=""><img src="{% static 'img/1.png' %}" height="90" ></a></div>
    <!-- <div style="float:left;"><a href=""><img src="站徽2.jpg" height="100" /></a></div>
     <div style="float:left;"><a href=""><img src="zhanming.jpg" height="100" /></a></div>-->
    <div style="float:left;"><a href=""><img src="{% static 'img/jiqiren2.jpg' %}" height="100"/></a></div>
{#    <div style="float:right;"><a href=""><img src="{% static 'img/logo1.png' %}" height="90" width="400"/></a></div>#}
    <div style="float:right;position: absolute;right: 100px;top: 1px;"><a href=""><img src="{% static 'img/logo1.png' %}" height="90" width="90"/></a></div>
</div>
<div class="daohang2">
    <div class="item zhuye">
        <a href="/">首页</a>
    </div>
    <div class="item keyan">
        <a href="keyanfangxiang">科研方向</a>
        <ul>
            <li><a href="chengdanxiangmu">承担项目</a></li>
            <li><a href="yiqishebei">仪器设备</a></li>
            <li><a href="xiangguanzazhi">相关杂志</a></li>
        </ul>
    </div>
    <div class="item keyan">
        <a href="xueshuchengguo">学术成果</a>
        <ul>
            <li><a href="xueshulunwen">学术论文</a></li>
            <li><a href="liangdiangongzuo">亮点工作</a></li>
            <li><a href="fengmianjijin">封面集锦</a></li>
            <li><a href="zhuzuoyizhu">著作译著</a></li>
            <li><a href="famingzhuanli">发明专利</a></li>
            <li><a href="xueshujiangli">学术荣誉</a></li>
        </ul>
    </div>
    <div class="item keyan"><a href="member">实验室成员</a>
        <ul>
            <li><a href="teacher">教师</a></li>
            <li><a href="assistant">研究助理</a></li>
            <li><a href="postgraduate">研究生</a></li>
            <li><a href="undergraduate">本科生</a></li>
            <li><a href="RIMLer">RIMLer</a></li>
        </ul>
    </div>
    <div class="item keyan"><a href="shiyanshiwenhua">实验室文化</a>
        <ul>
            <li><a href="zhinengzhixing">智能之星</a></li>
            <li><a href="zuijiatuandui">最佳团队</a></li>
            <li><a href="tebiegongxian">特别贡献</a></li>
            <li><a href="quanjiafu">全家福</a></li>
            <li><a href="juhuiyuanzu">聚会远足</a></li>
            <li><a href="shenghuojianying">生活剪影</a></li>
            <li><a href="xiaoyuanfengguang">校园风光</a></li>
            <li><a href="fengmiangushi">封面故事</a></li>
            <li><a href="chengyuanfengcai">成员风采</a></li>
            <li><a href="biyeshifen">毕业时分</a></li>
            <li><a href="libiejiyu">离别寄语</a></li>
            <li><a href="duzhewenzai">读者文摘</a></li>
        </ul>
    </div>
    <div class="item keyan"><a href="xueshuhuodong">学术活动</a>
        <ul>
            <li><a href="xueshuhuodong/jiqirenluntan.html">机器人论坛</a></li>
            <li><a href="xueshuhuodong/rengongzhinengshijie.html">人工智能视界</a></li>
            <li><a href="xueshuhuodong/baijiajiangtan.html">百家讲坛</a></li>
            <li><a href="xueshuhuodong/xueshulaifang.html">学术来访</a></li>
            <li><a href="xueshuhuodong/xueshuhuiyi.html">学术会议</a></li>
            <li><a href="xueshuhuodong/shuangbianjiaoliu.html">双边交流</a></li>
        </ul>
    </div>
    <div class="item keyan"><a href="jiaoxuegongzuo">教学工作</a>
        <ul>
            <li><a href="benkeshengdaoshi">本科生导师</a></li>
                <li><a href="rengongzhineng">人工智能</a></li>
        </ul>
    </div>
    <div class="item keyan"><a href="job">招生招聘</a>
        <ul>
            <li><a href="">博士后</a></li>
            <li><a href="">免试研究生</a></li>
            <li><a href="">统考研究生</a></li>
            <li><a href="">本科生</a></li>
        </ul>
    </div>
    <div class="item gengduo"><a href="more">更多</a>
        <ul>
            <li><a href="">美好印象</a></li>
            <li><a href="">新闻动态</a></li>
            <li><a href="">通知公告</a></li>
            <li><a href="">维护团队</a></li>
            <li><a href="">联系我们</a></li>
        </ul>
    </div>
</div>
{% block content %}{% endblock %}
<div class="bottom">
    <div class="bottoms">
        <div class="dizhi" style="line-height:1.5;text-align:center;font-size:14px;">地址：江苏省南京市玄武区孝陵卫街道200号南京理工大学理学院
            <p>Tel：xxxxxxxxxxx &nbsp;&nbsp;&nbsp;Fax：20000&nbsp;&nbsp;&nbsp;Email：xxxxxxxx@qq.com </p>
        </div>
    </div>
</div>
{% block scripts %}{% endblock %}
</body>
</html>