{% extends "base.html" %}
{% load staticfiles %}


{% block title %}欢迎来到沈煜年课题组-机器人学与智能机器实验室{% endblock %}
{% block styles %}
    <link rel="stylesheet" href="{% static 'css/xinwen.css' %}" type="text/css">
    <link href="{% static 'css/datu.css' %}" rel="stylesheet" />
    <link href="{% static 'css/zzsc.css' %}" rel="stylesheet" />
    <style>
    .dongtai-item{
        display: none;
    }
    .dongtai-cur{display: initial}
    </style>
{% endblock %}

{% block content %}


  <div id="zSlider">
    <div id="picshow">
        <div id="picshow_img">
            <ul>
              <li><a href="d825" target="_blank"><img src="{% static 'img/slider1/1.jpg' %}"></a></li>
              <li><a href="d624" target="_blank"><img src="{% static 'img/slider1/2.jpg' %}"></a></li>
              <li><a href="d1220" target="_blank"><img src="{% static 'img/slider1/3.jpg' %}"></a></li>
              <li><a href="d419" target="_blank"><img src="{% static 'img/slider1/4.jpg' %}"  ></a></li>
              <li><a href="d1125" target="_blank"><img src="{% static 'img/slider1/5.jpg' %}"></a></li>
              <li><a href="d722" target="_blank"><img src="{% static 'img/slider1/6.jpg' %}" ></a></li>
            </ul>
        </div>
        <div id="picshow_tx">
            <ul>
              <li>
                  <h3><a href="d825" target="_blank">我校学子在第五届中国研究生智慧城市技术与创意设计大赛中取得佳绩</a></h3>
                  <p>我校学子在第五届中国研究生智慧城市技术与创意设计大赛中取得佳绩</p>
              </li>
              <li>
                  <h3><a href="d624" target="_blank">杨炯灿会议证明</a></h3>
                  <p>杨炯灿会议证明</p>
              </li>
              <li>
                  <h3><a href="d1220" target="_blank">匡也会议邀请信</a></h3>
                  <p>匡也会议邀请信</p>
              </li>
              <li>
                  <h3><a href="d419" target="_blank">创新杯三等奖</a></h3>
                  <p>创新杯三等奖</p>
              </li>
              <li>
                  <h3><a href="d1125" target="_blank">物理与实验科技作品创新竞赛</a></h3>
                  <p>物理与实验科技作品创新竞赛议</p>
              </li>
              <li>
                  <h3><a href="d722" target="_blank">“晋拓杯”江苏省大学生机械创新设计大赛</a></h3>
                  <p>“晋拓杯”江苏省大学生机械创新设计大赛</p>
              </li>
            </ul>
        </div>
    </div>
    <div id="select_btn">
        <ul>
          <li><a href="d825" target="_blank"><img src="{% static 'img/slider1/1.jpg' %}"><span class="select_text">智慧城市技术与创意设计大赛中取得佳绩</span><span class="select_date">2018-08-25</span></a></li>
          <li><a href="d624" target="_blank"><img src="{% static 'img/slider1/2.jpg' %}"><span class="select_text">杨炯灿会议证明</span><span class="select_date">2018-06-24</span></a></li>
          <li><a href="d1220" target="_blank"><img src="{% static 'img/slider1/3.jpg' %}"><span class="select_text">匡也会议邀请信</span><span class="select_date">2017-10-19</span></a></li>
          <li><a href="d419" target="_blank"><img src="{% static 'img/slider1/4.jpg' %}"><span class="select_text">创新杯三等奖</span><span class="select_date">2017-04-19</span></a></li>
          <li><a href="d1125" target="_blank"><img src="{% static 'img/slider1/5.jpg' %}"><span class="select_text">物理与实验科技作品创新竞赛</span><span class="select_date">2018-11-25</span></a></li>
          <li><a href="d722" target="_blank"><img src="{% static 'img/slider1/6.jpg' %}"><span class="select_text">“晋拓杯”江苏省大学生机械创新设计大赛</span><span class="select_date">2018-07-22</span></a></li>
        </ul>
    </div>
</div>

    <div class="news">
        <div class="yanjiu">
            <div class="yanjiutitle">
                <span></span><a href="/xueshuchengguo/xueshulunwen/" style="color:#842f0d;">研究进展</a>
                <div class="research-text">Research</div>

            </div>
            <div class="yanjiuxinwen" style="width:635px;">
                <ul>
                    <li style="width:635px;"><span></span><a href="/xueshuchengguo/xueshulunwen/#id1587" title="content"
                                                             target="_blank">content1 <i
                            style='color:red;font-size:14px;'>new</i></a> <span class="riqi" style="text-align:right;">[2017-10-10]</span>
                    </li>
                    <li style="width:635px;"><span></span><a href="/xueshuchengguo/xueshulunwen/#id1572" title="content"
                                                             target="_blank">content2 </a> <span class="riqi"
                                                                                                 style="text-align:right;">[2017-09-20]</span>
                    </li>
                    <li style="width:635px;"><span></span><a href="/xueshuchengguo/xueshulunwen/#id1570" title="content"
                                                             target="_blank">content3 </a> <span class="riqi"
                                                                                                 style="text-align:right;">[2017-09-13]</span>
                    </li>
                    <li style="width:635px;"><span></span><a href="/xueshuchengguo/xueshulunwen/#id1527" title="content"
                                                             target="_blank">content4 </a> <span class="riqi"
                                                                                                 style="text-align:right;">[2017-06-28]</span>
                    </li>
                    <li style="width:635px;"><span></span><a href="/xueshuchengguo/xueshulunwen/#id1525" title="content"
                                                             target="_blank">content5 </a> <span class="riqi"
                                                                                                 style="text-align:right;">[2017-06-27]</span>
                    </li>
                    <li style="width:635px;"><span></span><a href="/xueshuchengguo/xueshulunwen/#id1501" title="content"
                                                             target="_blank">content6 </a> <span class="riqi"
                                                                                                 style="text-align:right;">[2017-05-24]</span>
                    </li>
                </ul>
            </div>
        </div>


        <div class="xinwendongtai">
            <div class="dongtaititle">
                <span></span>
                <a href="/news/" class="newstab active" data-type="mytab" data-tag="dongtai-xinwen">新闻动态</a>
                <a href="/notice/" class="newstab" data-type="mytab" data-tag="dongtai-notice">通知公告</a>
                <div class="dongtainews">News</div>
            </div>
             <div class="dongtaixinwen dongtai-xinwen dongtai-item dongtai-cur" data-type="mytab_body" data-tag="1">
                <ul>
                    <li><span></span><a href="d416" title="祝贺2015级硕士顺利毕业!" target="_blank">祝贺2015级硕士顺利毕业!</a> <span
                            class="riqi">[2018-04-16]</span></li>
                    <li><span></span><a href="d1228" title="祝贺李延泽、唐家栋获得院长奖章！" target="_blank">祝贺李延泽、唐家栋活动院长奖章！</a> <span
                            class="riqi">[2017-12-28]</span></li>

                    <li><span></span><a href="d1220" title="祝贺匡也同学参加澳门召开的IEEE机器人国际会议! "
                                        target="_blank">祝贺匡也同学参加澳门召开的IEEE机器人国际会议! </a> <span class="riqi">[2017-12-20]</span></li>
                    <li><span></span><a href="/news/2017/2017-07-01/1535.html" title="content"
                                        target="_blank">content</a> <span class="riqi">[2017-06-30]</span></li>
                    <li><span></span><a href="/news/2017/2017-06-29/1529.html" title="content"
                                        target="_blank">content</a> <span class="riqi">[2017-06-29]</span></li>


                    <li><span></span><a href="/news/2017/2017-06-25/1521.html" title="i ❤ RIML ^_^" target="_blank"><font
                            color='#FF3030'>i ❤ RIML ^_^</font></a> <span class="riqi">[2017-06-25]</span></li>

                </ul>
            </div>
            <div class="dongtaixinwen dongtai-notice dongtai-item" data-type="mytab_body" data-tag="1">
                <ul>
                    <li><span></span><a href="d416" title="通知!" target="_blank">通知!</a> <span
                            class="riqi">[2018-04-16]</span></li>

                </ul>
            </div>

        </div>
    </div>

    <div style="clear:both;margin:0 auto;width:1200px;height:0px;background:white;"></div>

{% endblock %}
{% block scripts %}
     <script src="{% static 'js/slider.js' %}"></script>

    <script src="{% static 'js/zzsc.js' %}"></script>
    <script>
    $(".newstab").bind('mouseover', function () {
        var d =  $(this).attr('data-tag');
        $(".dongtai-item").removeClass('dongtai-cur');
        $("."+d).addClass('dongtai-cur')
    });
    $(".zhuye").addClass("nav-active")
    </script>
{% endblock %}
