{% extends "base.html" %}
{% load staticfiles %}


{% block title %}欢迎来到沈煜年课题组-机器人学与智能机器实验室{% endblock %}
{% block styles %}
    <link rel="stylesheet" href="{% static 'css/xinwen.css' %}" type="text/css">
    <link href="{% static 'css/datu.css' %}" rel="stylesheet" />
    <link href="{% static 'css/zzsc.css' %}" rel="stylesheet" />
    <style>
    .dongtai-item{
        display: none;
    }
    .dongtai-cur{display: initial}
    </style>
{% endblock %}

{% block content %}

{#    <div id="box">#}
{#        <div class="slide">#}
{#            <ul>#}
{#                <li class="slideli"><a href="#"><img src="{% static 'img/slider/1.jpg' %}" alt=""></a></li>#}
{#                <li class="slideli"><a href="#"><img src="{% static 'img/slider/2.jpg' %}" alt=""></a></li>#}
{#                <li class="slideli"><a href="#"><img src="{% static 'img/slider/3.jpg' %}" alt=""></a></li>#}
{#                <li class="slideli"><a href="#"><img src="{% static 'img/slider/5.jpg' %}" alt=""></a></li>#}
{#                <li class="slideli"><a href="#"><img src="{% static 'img/slider/6.jpg' %}" alt=""></a></li>#}
{#            </ul>#}
{#            <div class="arraw">#}
{#                <a href="javascript:;" class="next"></a>#}
{#                <a href="javascript:;" class='prev'></a>#}
{#            </div>#}
{#        </div>#}
{#    </div>#}
{#    <div style="clear:both;margin:0 auto;width:1200px;height:30px;background:white;"></div>#}

{#<div id="zSlider">#}
{#    <div id="picshow">#}
{#        <div id="picshow_img">#}
{#            <ul>#}
{#              <li><a href="" target="_blank"><img src="{% static 'img/slider2/1.jpg' %}"></a></li>#}
{#              <li><a href="" target="_blank"><img src="{% static 'img/slider2/2.jpg' %}"></a></li>#}
{#              <li><a href="" target="_blank"><img src="{% static 'img/slider2/3.jpg' %}"></a></li>#}
{#              <li><a href="" target="_blank"><img src="{% static 'img/slider2/4.jpg' %}"></a></li>#}
{#              <li><a href="" target="_blank"><img src="{% static 'img/slider2/5.jpg' %}"></a></li>#}
{#              <li><a href="" target="_blank"><img src="{% static 'img/slider2/6.jpg' %}"></a></li>#}
{#            </ul>#}
{#        </div>#}
{#        <div id="picshow_tx">#}
{#            <ul>#}
{#              <li>#}
{#                  <h3><a href="" target="_blank">中国死飞店铺推介：上海死飞店FACTORY FIVE</a></h3>#}
{#                  <p>上海第一家死飞精品店，由三个外国人与一中国人联合创办，主要经营客订个性单速车，帮助他们得到自己梦想中的车架。</p>#}
{#              </li>#}
{#              <li>#}
{#                  <h3><a href="" target="_blank">骑看世界：纯美的世界恬静的心冰岛骑游之旅</a></h3>#}
{#                  <p>冰岛有“火山岛”、“雾岛”、“冰封的土地”、“冰与火之岛”之称。有想过在这里骑游吗？下面看看Ovegur的冰岛骑游之旅吧。</p>#}
{#              </li>#}
{#              <li>#}
{#                  <h3><a href="" target="_blank">空气糟糕透了！推荐几款实用的骑行防毒口罩</a></h3>#}
{#                  <p>这几天，全国各地的空气糟糕透顶！北京空气污染指数又爆表了！！！经过资深车友的推荐及亲身体验，整理出几款超强防毒的骑行口罩。</p>#}
{#              </li>#}
{#              <li>#}
{#                  <h3><a href="" target="_blank">[组图]1200万像素带Wi-Fi 骑行记录仪Gopro Hero3评测</a></h3>#}
{#                  <p>近年来户外骑行等运动录像盛行，Gopro这品牌可说功不可没，新版的Gopro Hero3具有1200万像素带Wi-Fi功能……</p>#}
{#              </li>#}
{#              <li>#}
{#                  <h3><a href="" target="_blank">张向东：南非无危险的骑行与有纠结的ubuntu(组图)</a></h3>#}
{#                  <p>“我要从南骑到北，我还要从白骑到黑。我要人们都看到我，却不知道我是谁。爱上我你就不要后悔，总有一天我要远走高飞。”</p>#}
{#              </li>#}
{#              <li>#}
{#                  <h3><a href="" target="_blank">单车文化课堂⑥：学会撬胎补胎爆胎不再烦</a></h3>#}
{#                  <p>外出骑行，不会总有一个修车老大爷在你扎胎后的不远处等着你，本期课堂教会你如何撬胎补胎，再碰上爆胎，你就可以淡定了。</p>#}
{#              </li>#}
{#            </ul>#}
{#        </div>#}
{#    </div>#}
{#    <div id="select_btn">#}
{#        <ul>#}
{#          <li><a href="" target="_blank"><img src="{% static 'img/slider2/01.jpg' %}"><span class="select_text">上海死飞店FACTORY FIVE</span><span class="select_date">2013/01/16</span></a></li>#}
{#          <li><a href="" target="_blank"><img src="{% static 'img/slider2/02.jpg' %}"><span class="select_text">骑看世界：北欧冰岛骑游之旅</span><span class="select_date">2013/01/15</span></a></li>#}
{#          <li><a href="" target="_blank"><img src="{% static 'img/slider2/03.jpg' %}"><span class="select_text">推荐几款实用的骑行防毒口罩</span><span class="select_date">2013/01/13</span></a></li>#}
{#          <li><a href="" target="_blank"><img src="{% static 'img/slider2/04.jpg' %}"><span class="select_text">骑行记录仪Gopro Hero3评测</span><span class="select_date">2013/01/08</span></a></li>#}
{#          <li><a href="" target="_blank"><img src="{% static 'img/slider2/05.jpg' %}"><span class="select_text">3G门户总裁张向东南非骑行日记</span><span class="select_date">2012/12/28</span></a></li>#}
{#          <li><a href="" target="_blank"><img src="{% static 'img/slider2/06.jpg' %}"><span class="select_text">教学：学会撬胎补胎 爆胎不再烦</span><span class="select_date">2012/12/26</span></a></li>#}
{#        </ul>#}
{#    </div>#}
{#</div>#}
  <div id="zSlider">
    <div id="picshow">
        <div id="picshow_img">
            <ul>
              <li><a href="" target="_blank"><img src="{% static 'img/slider1/1.jpg' %}"></a></li>
              <li><a href="" target="_blank"><img src="{% static 'img/slider1/2.jpg' %}"></a></li>
              <li><a href="" target="_blank"><img src="{% static 'img/slider1/3.png' %}"></a></li>
              <li><a href="" target="_blank"><img src="{% static 'img/slider1/4.jpg' %}"></a></li>
              <li><a href="" target="_blank"><img src="{% static 'img/slider1/5.jpg' %}"></a></li>
              <li><a href="" target="_blank"><img src="{% static 'img/slider1/6.jpg' %}"></a></li>
            </ul>
        </div>
        <div id="picshow_tx">
            <ul>
              <li>
                  <h3><a href="" target="_blank">我校学子在第五届中国研究生智慧城市技术与创意设计大赛中取得佳绩</a></h3>
                  <p>我校学子在第五届中国研究生智慧城市技术与创意设计大赛中取得佳绩</p>
              </li>
              <li>
                  <h3><a href="" target="_blank">杨炯灿会议证明</a></h3>
                  <p>杨炯灿会议证明</p>
              </li>
              <li>
                  <h3><a href="" target="_blank">匡也会议邀请信</a></h3>
                  <p>匡也会议邀请信</p>
              </li>
              <li>
                  <h3><a href="" target="_blank">2018年8月19日，中国计算力学大会南京召开</a></h3>
                  <p>2018年8月19日，中国计算力学大会南京召开</p>
              </li>
              <li>
                  <h3><a href="" target="_blank"第14届多体系统非线性动力学与控制国际会议</a></h3>
                  <p>第14届多体系统非线性动力学与控制国际会议</p>
              </li>
              <li>
                  <h3><a href="" target="_blank">中国力学学会参加国际理论与应用力学联盟2018年全体理事大会</a></h3>
                  <p>中国力学学会参加国际理论与应用力学联盟2018年全体理事大会</p>
              </li>
            </ul>
        </div>
    </div>
    <div id="select_btn">
        <ul>
          <li><a href="" target="_blank"><img src="{% static 'img/slider1/1.jpg' %}"><span class="select_text">智慧城市技术与创意设计大赛中取得佳绩</span><span class="select_date">2018/08/25</span></a></li>
          <li><a href="" target="_blank"><img src="{% static 'img/slider1/2.jpg' %}"><span class="select_text">杨炯灿会议证明</span><span class="select_date">2018/06/24</span></a></li>
          <li><a href="" target="_blank"><img src="{% static 'img/slider1/3.png' %}"><span class="select_text">匡也会议邀请信</span><span class="select_date">2017/10/19</span></a></li>
          <li><a href="" target="_blank"><img src="{% static 'img/slider1/4.jpg' %}"><span class="select_text">中国计算力学大会南京召开</span><span class="select_date">2018/08/19</span></a></li>
          <li><a href="" target="_blank"><img src="{% static 'img/slider1/5.jpg' %}"><span class="select_text">第14届多体系统非线性动力学与控制国际会议</span><span class="select_date">2018/8/26</span></a></li>
          <li><a href="" target="_blank"><img src="{% static 'img/slider1/6.jpg' %}"><span class="select_text">国际理论与应用力学联盟2018年全体理事大会</span><span class="select_date">2018/07/22</span></a></li>
        </ul>
    </div>
</div>

    <div class="news">
        <div class="yanjiu">
            <div class="yanjiutitle">
                <span></span><a href="/xueshuchengguo/xueshulunwen/" style="color:#842f0d;">研究进展</a>
                <div class="research">Research</div>

            </div>
            <div class="yanjiuxinwen" style="width:635px;">
                <ul>
                    <li style="width:635px;"><span></span><a href="/xueshuchengguo/xueshulunwen/#id1587" title="content"
                                                             target="_blank">content1 <i
                            style='color:red;font-size:14px;'>new</i></a> <span class="riqi" style="text-align:right;">[2017-10-10]</span>
                    </li>
                    <li style="width:635px;"><span></span><a href="/xueshuchengguo/xueshulunwen/#id1572" title="content"
                                                             target="_blank">content2 </a> <span class="riqi"
                                                                                                 style="text-align:right;">[2017-09-20]</span>
                    </li>
                    <li style="width:635px;"><span></span><a href="/xueshuchengguo/xueshulunwen/#id1570" title="content"
                                                             target="_blank">content3 </a> <span class="riqi"
                                                                                                 style="text-align:right;">[2017-09-13]</span>
                    </li>
                    <li style="width:635px;"><span></span><a href="/xueshuchengguo/xueshulunwen/#id1527" title="content"
                                                             target="_blank">content4 </a> <span class="riqi"
                                                                                                 style="text-align:right;">[2017-06-28]</span>
                    </li>
                    <li style="width:635px;"><span></span><a href="/xueshuchengguo/xueshulunwen/#id1525" title="content"
                                                             target="_blank">content5 </a> <span class="riqi"
                                                                                                 style="text-align:right;">[2017-06-27]</span>
                    </li>
                    <li style="width:635px;"><span></span><a href="/xueshuchengguo/xueshulunwen/#id1501" title="content"
                                                             target="_blank">content6 </a> <span class="riqi"
                                                                                                 style="text-align:right;">[2017-05-24]</span>
                    </li>
                </ul>
            </div>
        </div>


        <div class="xinwendongtai">
            <div class="dongtaititle">
                <span></span>
                <a href="/news/" class="newstab active" data-type="mytab" data-tag="dongtai-xinwen">新闻动态</a>
                <a href="/notice/" class="newstab" data-type="mytab" data-tag="dongtai-notice">通知公告</a>
                <div class="dongtainews">News</div>
            </div>
             <div class="dongtaixinwen dongtai-xinwen dongtai-item dongtai-cur" data-type="mytab_body" data-tag="1">
                <ul>
                    <li><span></span><a href="d416" title="祝贺2015级硕士顺利毕业!" target="_blank">祝贺2015级硕士顺利毕业!</a> <span
                            class="riqi">[2018-04-16]</span></li>
                    <li><span></span><a href="d1228" title="祝贺李延泽、唐家栋获得院长奖章！" target="_blank">祝贺李延泽、唐家栋活动院长奖章！</a> <span
                            class="riqi">[2017-12-28]</span></li>

                    <li><span></span><a href="d1220" title="祝贺匡也同学参加澳门召开的IEEE机器人国际会议! "
                                        target="_blank">祝贺匡也同学参加澳门召开的IEEE机器人国际会议! </a> <span class="riqi">[2017-12-20]</span></li>
                    <li><span></span><a href="/news/2017/2017-07-01/1535.html" title="content"
                                        target="_blank">content</a> <span class="riqi">[2017-06-30]</span></li>
                    <li><span></span><a href="/news/2017/2017-06-29/1529.html" title="content"
                                        target="_blank">content</a> <span class="riqi">[2017-06-29]</span></li>


                    <li><span></span><a href="/news/2017/2017-06-25/1521.html" title="i ❤ RIML ^_^" target="_blank"><font
                            color='#FF3030'>i ❤ RIML ^_^</font></a> <span class="riqi">[2017-06-25]</span></li>

                </ul>
            </div>
            <div class="dongtaixinwen dongtai-notice dongtai-item" data-type="mytab_body" data-tag="1">
                <ul>
                    <li><span></span><a href="d416" title="通知!" target="_blank">通知!</a> <span
                            class="riqi">[2018-04-16]</span></li>

                </ul>
            </div>

        </div>
    </div>

    <div style="clear:both;margin:0 auto;width:1200px;height:0px;background:white;"></div>

{% endblock %}
{% block scripts %}
     <script src="{% static 'js/slider.js' %}"></script>
    <script src="{% static 'js/jquery.js' %}"></script>
    <script src="{% static 'js/zzsc.js' %}"></script>
    <script>
    $(".newstab").bind('mouseover', function () {
        var d =  $(this).attr('data-tag');
        $(".dongtai-item").removeClass('dongtai-cur')
        $("."+d).addClass('dongtai-cur')
    })
    </script>
{% endblock %}
