{% extends "jobs/recruit_base.html" %}
{% load staticfiles %}

{% block title %}免试研究生{% endblock %}
{% block cur_position %}
    <div>
        <b>当前位置：</b>
        <a href="/" style="text-decoration: none">首页</a>&nbsp;&gt;&nbsp;<a href="/ach/papaer"
                                                                           style="text-decoration: none">招生招聘</a>&nbsp;&gt;&nbsp;免试研究生
    </div>
{% endblock %}

{% block recruit_content %}
     <div class="pic"><a href=""><img width="55%" src="{% static 'img/jianshezhong.bmp' %}" ></a></div>
{% endblock %}
{% block keyan_scripts %}

{% endblock %}

ExemptExam