{% extends "jobs/recruit_base.html" %}
{% load staticfiles %}

{% block title %}统考研究生招生{% endblock %}
{% block cur_position %}
    <div>
        <b>当前位置：</b>
        <a href="/" style="text-decoration: none">首页</a>&nbsp;&gt;&nbsp;<a href="/ach/papaer"
                                                                           style="text-decoration: none">招生招聘</a>&nbsp;&gt;&nbsp;统考研究生
    </div>
{% endblock %}

{% block recruit_content %}
    <div id="wsite-content" class="wsite-elements wsite-not-footer">

        <div class="ui-se-title">
            机器人学和智能机器实验室（RIML）2019年硕士招生
        </div>

        <div class="clear" style="border-bottom:1px solid #cccccc;"></div>


        <div class="ui-project ui-paper">
            <p>2019年本人课题组——机器人学和智能机器实验室（RIML）欢迎有能力、有理想、能吃苦、善沟通的年轻有为的学生到我们实验室学习和工作。
            <p>
                本实验室重点研究未来与智能机器（人）相关力学、自动化和机械、控制等相关课题，属于学科交叉和学术前沿。对于力学、编程、实验以及综合素质要求较高，希望招收有潜力的学生前来实验室工作。目前正在提高培养质量，实验室的要求是：“积极在RIML工作期间增长才干，为自身和团队成长为大德、大气、乐观、严谨和敢为人先的世界栋梁而努力”。</p>
            <p>
                2018年，在师生共同努力下，本实验室获得了硕士研究生国家奖学金一人，学业奖学金一等奖的有4人，在各课题组中居于首位。近两年有两名硕士获得国家资助赴国外参加国际会议，与顶尖学术带头人进行了交流。在发表高水平SCI论文、专利和软件著作权上成果丰硕，去年还有一人获得研究生国家比赛奖项。实验室的毕业学生已在中科院、美的、中电研究院、西飞集团、各大著名汽车集团和外企工作。</p>
            <p>有意者请与RIML联系,联系电邮：shenyunian@aliyun.com。
            </p>
        </div>
    </div>
{% endblock %}
{% block keyan_scripts %}

{% endblock %}

