{% extends "base.html" %}
{% load staticfiles %}


{% block title %}招生招聘{% endblock %}
{% block styles %}
    <link href="{% static 'css/ziye.css' %}" rel="stylesheet" />
{% endblock %}
{% block content %}
    <div style="clear:both;margin:0 auto;width:1200px;height:10px;background:white;"></div>
<table style="margin:0 auto;width:1200px;background:white;">
    <tr>
        <td width="10"></td>
        <td width="180" height="400" valign="top" style="background:#f2f2f2;">
            <div class="leftclassname">招生招聘</div>
            <div class="leftsubclass">
                <ul>
                    <li class=""><a href="" style="text-decoration: none"><div class="b1">&gt;</div><div class="b2">o</div> 博士后</a></li>
                    <li class=""><a href="" style="text-decoration: none"><div class="b1">&gt;</div><div class="b2">o</div> 免试研究生</a></li>
                    <li class=""><a href="" style="text-decoration: none"><div class="b1">&gt;</div><div class="b2">o</div> 统考研究生</a></li>
                    <li class=""><a href="" style="text-decoration: none"><div class="b1">&gt;</div><div class="b2">o</div> 本科生</a></li>
                </ul>
            </div>
        </td>
        <td width="10"></td>
        <td valign="top">
            <div class="location">
                <i class="location_mark"></i>
                <div>
                    <b>当前位置：</b>
                    <a href="/" style="text-decoration: none">首页</a>&nbsp;>&nbsp;<a href="job" style="text-decoration: none">招生招聘</a>
                </div>
            </div>
            <div class="clear" style="height:20px;"></div>
            <div style="padding:0 20px;height:50px;line-height:50px;font-size:28px;color:#c50000;">Join us</div>
            <div style="padding:20px;padding-top:0;">
                            </div>
            <div class="clear" style="border-bottom:1px solid #cccccc;"></div>

            <div style="position: relative;left: 50px;top: 10px;"><img src="{% static 'img/ud1.jpg' %}" height="200" width="400"/></div>
            <div class="clear" style="height:10px;"></div>
            <div class="clear" style="height:10px;"></div>

</table>
<div class="clear"></div>

{% endblock %}
{% block scripts %}
{% endblock %}
