{% extends "jobs/recruit_base.html" %}
{% load staticfiles %}

{% block title %}本科科研助理招生{% endblock %}
{% block cur_position %}
    <div>
        <b>当前位置：</b>
        <a href="/" style="text-decoration: none">首页</a>&nbsp;&gt;&nbsp;<a href="/ach/papaer"
                                                                           style="text-decoration: none">招生招聘</a>&nbsp;&gt;&nbsp;本科科研助理
    </div>
{% endblock %}

{% block recruit_content %}
    <div id="wsite-content" class="wsite-elements wsite-not-footer">

        <div style="padding:0 20px;height:50px;line-height:50px;font-size:28px;color:#c50000;">
            机器人学和智能机器实验室（RIML）优秀本科科研训练长期招生
        </div>
        <div style="padding:20px;padding-top:0;">
        </div>
        <div class="clear" style="border-bottom:1px solid #cccccc;"></div>


        <div class="ui-project ui-paper">
            <p>2020年本人课题组——机器人学和智能机器实验室（RIML）欢迎有能力、有理想、能吃苦、善沟通的年轻有为的本科生到我们实验室学习和工作。
            <p>
                本实验室重点研究未来与智能机器（人）相关力学、自动化和机械、控制等相关课题，属于学科交叉和学术前沿。对于力学、编程、实验以及综合素质要求较高，希望招收有潜力的学生前来实验室工作。目前正在提高培养质量，实验室的要求是：“积极在RIML工作期间增长才干，为自身和团队成长为大德、大气、乐观、严谨和敢为人先的世界栋梁而努力”。</p>
            <p>
                过去已成功完成八届本科生科研训练的指导工作，通过科研训练的成果展示，大部分学生得以到985高校进行研究生的深造，并且在硕士阶段顺利开展迅速的开展研究工作。利用科研成果参加的科研竞赛斩获颇丰。</p>
            <p>有意者请与RIML联系,联系电邮：shenyunian@aliyun.com。
            </p>
        </div>
    </div>
{% endblock %}
{% block keyan_scripts %}

{% endblock %}

