{% extends "more/more_base.html" %}
{% load staticfiles %}
{% block title %}
    通知公告
{% endblock %}

{% block more_styles %}

    <style>
        .ui-project p {
            margin-top: 10px;
            margin-bottom: 0px;
            padding: 0px 0px 0.5em;
            line-height: 1.75;
            color: rgb(98, 98, 98);
            white-space: normal;
            font-size: medium !important;
            word-wrap: break-word;
            text-align: justify;
            padding-bottom: 0;
            text-indent: 2em;
        }
    .list-item{
        border-bottom: 1px dashed #ccc;
    }
    a{
        text-decoration: none;
    }
    </style>

{% endblock %}
{% block cur_position %}
    <div>
        <b>当前位置：</b>
        <a href="/" style="text-decoration: none">首页</a>&nbsp;>&nbsp;通知公告
    </div>
{% endblock %}
{% block more_content %}


    <div class="pic"><a href=""><img width="55%" src="{% static 'img/jianshezhong.bmp' %}" ></a></div>


{% endblock %}
{% block more_scripts %}
    <script>
        $(".more").addClass("nav-active")

    </script>


{% endblock %}


