{% extends "member/member_base.html" %}
{% load staticfiles %}

{% block title %}研究生{% endblock %}
{% block cur_position %}
    <div>
        <b>当前位置：</b>
        <a href="/" style="text-decoration: none">首页</a>&nbsp;>&nbsp;<a href="/member" style="text-decoration: none">实验室成员</a>&nbsp;>&nbsp;<a href="/member/scholars" style="text-decoration: none">访问学者</a>>&nbsp;<a href="" style="text-decoration: none">abdulazeez</a>

    </div>
{% endblock %}

{% block mem_content %}

            <div style="padding:0 20px;height:70px;line-height:70px;font-size:24px;color:#c50000;">abdulazeez               </div>
            <ul class="chengyuan">
                <li>
                    <div class="pic"><a href=""><img src="{% static 'img/postgraduate/abdulazeez.jpg' %}" width="162" height="212"></a></div>
                </li>

            </ul>
            <div class="clear" style="height:10px;"></div>
             <div class="ui-project">
                 <p>自我评价：
                 I am a passionate, organized and dedicated graduate of science education, with outstanding pedagogical, professional and administrative skills, desired to build a career with a results-oriented organization in an environment that encourages innovative and creative thinking where my skills,
                     training and other competencies can be harnessed to enable the organization advance efficiently and productively.
                 </p>
                 <p>个人箴言:</p>
                 <p>

                         个人简历：
                 </p>
                 <p>研究成果：
                 </p>
                 <p>联系方式：</p>
             </div>
            <div class="clear" style="height:10px;"></div>


{% endblock %}


