{% extends "lab_culture/culture_base.html" %}
{% load staticfiles %}
{% block title %}校园风光{% endblock %}

{% block cur_position %}
    <div>
        <b>当前位置：</b>
        <a href="/" style="text-decoration: none">首页</a>&nbsp;>&nbsp;<a href="general"
                                                                        style="text-decoration: none">实验室文化</a>&nbsp;>&nbsp;<a
            href="quanjiafu" style="text-decoration: none">校园风光</a>
    </div>
{% endblock %}


{% block cul_content %}
     <div style="text-align: center"><img src="{% static 'img/school/20191024-1.jpg' %}" height="400" width="550"/>
     <img src="{% static 'img/school/20191024-2.jpg' %}" height="400" width="550"/>
     <img src="{% static 'img/school/20191024-3.jpg' %}" height="400" width="550"/>
    </div>

{% endblock %}

